<footer class="footer">
  <section class="media-social">
    <h2 class="media-social__titulo">Já segue a gente nas redes?</h2>

    <article class="media-social__links">
      <a class="media-social__a" href="https://www.facebook.com/">
        <img src="/images/facebook-icon.svg" alt="Facebook" />
      </a>

      <a class="media-social__a" href="https://www.instagram.com/">
        <img src="/images/instagram-icon.svg" alt="Instagram" />
      </a>

      <a class="media-social__a" href="https://twitter.com/">
        <img src="/images/twitter-icon.svg" alt="Twitter" />
      </a>
    </article>
  </section>

  <section class="termos-e-politicas">
    <p class="termos-e-politicas__p">Termos de Serviço</p>
    <p class="termos-e-politicas__p">Política de Privacidade</p>
    <p class="termos-e-politicas__p">Política de Reembolso da Loja</p>
  </section>
</footer>

<footer class="footer__desktop">
  <section class="superior__infos">
    <div class="logo">
      <img
        class="footer__logo"
        src="/images/menu-desktop/logoEleita.PNG"
        width="150px"
        height="100px"
      />
    </div>

    <div class="div__links">
      <div class="links">
        <h5 class="tittle__links">Lorem ipsum dolor</h5>
        <ul class="footer__links">
          <li class="footer__link">
            <a class="footer__page-link" href="#">quos animi ipsam</a>
          </li>
          <li class="footer__link">
            <a class="footer__page-link" href="#">quos animi ipsam</a>
          </li>
          <li class="footer__link">
            <a class="footer__page-link" href="#">quos animi ipsam</a>
          </li>
          <li class="footer__link">
            <a class="footer__page-link" href="#">quos animi ipsam</a>
          </li>
        </ul>
      </div>

      <div class="links">
        <h5 class="tittle__links">Lorem ipsum dolor</h5>
        <ul class="footer__links">
          <li class="footer__link">
            <a class="footer__page-link" href="#">quos animi ipsam</a>
          </li>
          <li class="footer__link">
            <a class="footer__page-link" href="#">quos animi ipsam</a>
          </li>
          <li class="footer__link">
            <a class="footer__page-link" href="#">quos animi ipsam</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="social-media">
      <h4 class="social-media__title">Já segue a gente nas redes?</h4>

      <article class="social-media__links">
        <a class="socialmedia__a" href="https://www.facebook.com/">
          <img
            class="socialmedia__img"
            src="/images/facebook-icon.svg"
            alt="Facebook"
          />
        </a>

        <a class="socialmedia__a" href="https://www.instagram.com/">
          <img
            class="socialmedia__img"
            src="/images/instagram-icon.svg"
            alt="Instagram"
          />
        </a>

        <a class="socialmedia__a" href="https://twitter.com/">
          <img
            class="socialmedia__img"
            src="/images/twitter-icon.svg"
            alt="Twitter"
          />
        </a>
      </article>
    </div>
  </section>

  <section class="terms">
    <div class="terms-and-policies">
      <a class="terms-and-policies__link" href="#"
        ><p class="terms-and-policies__p">Termos de Serviço</p></a
      >
      <a class="terms-and-policies__link" href="#"
        ><p class="terms-and-policies__p">Política de Privacidade</p></a
      >
      <a class="terms-and-policies__link" href="#"
        ><p class="terms-and-policies__p">
          Política de Reembolso da Loja
        </p></a
      >
    </div>
  </section>
</footer>