<header class="header__medium-devices">
  <a class="menu__desktop" href="/">
    <img
      class="menu__logo"
      src="/images/logo-horizontal.svg"
      alt="logotipo desktop"
      width="110px"
      height="65px"
    />
  </a>

  <div class="menu__searchbar">
    <div class="menu__loupe">
      <img
        class="menu__loupe--img"
        src="/images/menu-desktop/lupa-preta.png"
        onclick=""
      />
    </div>
    <form class="menu__searchbar__form">
      <input
        class="menu__searchbar-input"
        type="text"
        id="searchbar"
        name="searchbar"
        placeholder="Buscar"
      />
    </form>
  </div>

  <div class="menu__login-and-user">
    <% if (typeof usuario === "undefined") {%>
      <div class="menu__buttons">
        <a href="/login">
          <button class="menu__btn menu__btn--login">
            Entrar
          </button>
        </a>
        <a href="/cadastroUsuario">
          <button class="menu__btn menu__btn--cadastro">
            Cadastre-se
          </button>
        </a>
      </div>
    <% } else { %>
      <div class="menu__greetings">
        <p class="menu__greetings__p">Bem vindo, <%= usuario.nomeUsuario %>  </p>
        <a href="/logout">
          <button class="menu__btn menu__btn--logout">
            Sair
          </button>
        </a>
      </div>
    <% } %> 

    <div class="menu__user">
      <a class="user" href="/conta">
        <img
          class="user-login"
          src="/images/menu-desktop/user.svg"
          alt="login do usuário"
          width="60px"
          height="60px"
      /></a>
    </div>
  </div>
</header>
