<section class="conta-e-seguranca">
  <a class="conta-e-seguranca__ancora" href="/conta">
    <div class="conta-e-seguranca__div bg-gradient-to-r from-pink-500 to-red-500 sm:transform hover:scale-105 transition duration-500 text-white">
      <img src="/images/conta/man.png" alt="Informações da Conta">
      <p class="conta-e-seguranca__texto">Conta</p>
    </div>
  </a>

  <a class="conta-e-seguranca__ancora" href="/seguranca">
    <div class="conta-e-seguranca__div bg-gradient-to-r from-pink-500 to-red-500 sm:transform hover:scale-105 transition duration-500 text-white">
      <img src="/images/conta/key.png" alt="Segurança">
      <p class="conta-e-seguranca__texto">Senha e Segurança</p>
    </div>
  </a>
</section>