<!DOCTYPE html>

<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="./stylesheets/biblioteca.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap"
      rel="stylesheet"
    />
    <title>Biblioteca do Usuário</title>
  </head>

  <body>
    <div class="container">
      <%- include("./partials/header") %>

      <main>
        <section class="mais-jogados">
          <p class="mais-jogados__titulo">Mais Jogados</p>

          <div class="mais-jogados__div-carousel">
            <img
              src="./images/biblioteca/got.svg"
              alt="Ghost Of Tsushima"
              class="mais-jogados__img-carousel"
            />
            <a class="mais-jogados__btn-jogar" href="#"
              ><p class="mais-jogados__txt-btn-jogar">Jogar</p></a
            >
          </div>
        </section>
        <hr />
        <section class="pesquisa-biblioteca">
          <div class="pesquisa-biblioteca__div">
            <img
              class="pesquisa-biblioteca__imagem"
              src="./images/biblioteca/icone-lupa1.svg"
              alt="Pesquisar"
            />
            <ul class="pesquisa-biblioteca__ul">
              <li class="pesquisa-biblioteca__item">Todos os Jogos</li>
              <li class="pesquisa-biblioteca__item">Lançamentos</li>
              <li class="pesquisa-biblioteca__item">Categorias</li>
              <li class="pesquisa-biblioteca__item">A-Z</li>
            </ul>
          </div>
        </section>

        <section class="lista-jogos">
          <div class="lista-jogos__div">
            <div class="lista-jogos__img-jogo">
              <img
                src="./images/biblioteca/gran-turismo-sport.svg"
                alt="Gran Turismo Sport"
                style="width: 170px; height: 120px"
              />
            </div>
            <div class="lista-jogos__txt-btn">
              <p class="lista-jogos__titulo">Gran Turismo Sport</p>
              <ul class="lista-jogos__ul-btn">
                <li class="lista-jogos__btn-pagina-jogo">
                  <a href="#"
                    ><p class="lista-jogos__txt-btn-pagina-jogos">
                      Página do Jogo
                    </p></a
                  >
                </li>
                <li class="lista-jogos__btn-jogar">
                  <a href="#"
                    ><p class="lista-jogos__txt-btn-jogar">Jogar</p></a
                  >
                </li>
              </ul>
            </div>
          </div>

          <div class="lista-jogos__div">
            <div class="lista-jogos__img-jogo">
              <img
                src="./images/biblioteca/smite.svg"
                alt="Smite"
                style="width: 170px; height: 120px"
              />
            </div>
            <div class="lista-jogos__txt-btn">
              <p class="lista-jogos__titulo">Smite</p>
              <ul class="lista-jogos__ul-btn">
                <li class="lista-jogos__btn-pagina-jogo">
                  <a href="#"
                    ><p class="lista-jogos__txt-btn-pagina-jogos">
                      Página do Jogo
                    </p></a
                  >
                </li>
                <li class="lista-jogos__btn-jogar">
                  <a href="#"
                    ><p class="lista-jogos__txt-btn-jogar">Jogar</p></a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="lista-jogos__div">
            <div class="lista-jogos__img-jogo">
              <img
                src="./images/biblioteca/cs-go.svg"
                alt="Counter Striker - GO"
                style="width: 170px; height: 120px"
              />
            </div>
            <div class="lista-jogos__txt-btn">
              <p class="lista-jogos__titulo">Counter Striker - GO</p>
              <ul class="lista-jogos__ul-btn">
                <li class="lista-jogos__btn-pagina-jogo">
                  <a href="#"
                    ><p class="lista-jogos__txt-btn-pagina-jogos">
                      Página do Jogo
                    </p></a
                  >
                </li>
                <li class="lista-jogos__btn-jogar">
                  <a href="#"
                    ><p class="lista-jogos__txt-btn-jogar">Jogar</p></a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="lista-jogos__div">
            <div class="lista-jogos__img-jogo">
              <img
                src="./images/biblioteca/the-forest.svg"
                alt="The Forest"
                style="width: 170px; height: 120px"
              />
            </div>
            <div class="lista-jogos__txt-btn">
              <p class="lista-jogos__titulo">The Forest</p>
              <ul class="lista-jogos__ul-btn">
                <li class="lista-jogos__btn-pagina-jogo">
                  <a href="#"
                    ><p class="lista-jogos__txt-btn-pagina-jogos">
                      Página do Jogo
                    </p></a
                  >
                </li>
                <li class="lista-jogos__btn-jogar">
                  <a href="#"
                    ><p class="lista-jogos__txt-btn-jogar">Jogar</p></a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="lista-jogos__div">
            <div class="lista-jogos__img-jogo">
              <img
                src="./images/biblioteca/moto-gp21.svg"
                alt="Moto GP 21"
                style="width: 170px; height: 120px"
              />
            </div>
            <div class="lista-jogos__txt-btn">
              <p class="lista-jogos__titulo">Moto GP 21</p>
              <ul class="lista-jogos__ul-btn">
                <li class="lista-jogos__btn-pagina-jogo">
                  <a href="#"
                    ><p class="lista-jogos__txt-btn-pagina-jogos">
                      Página do Jogo
                    </p></a
                  >
                </li>
                <li class="lista-jogos__btn-jogar">
                  <a href="#"
                    ><p class="lista-jogos__txt-btn-jogar">Jogar</p></a
                  >
                </li>
              </ul>
            </div>
          </div>
        </section>
      </main>

      <%- include("./partials/footer") %>
    </div>
  </body>
</html>
