<!DOCTYPE html>

<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/header.css" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/cadastroUsuario.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap"
      rel="stylesheet"
    />
    <script defer src="/javascripts/scriptValidationCadastro.js"></script>
    <title>Cadastro de Usuarios</title>
  </head>

  <body>
    <!-- <div class="container"> -->
      <%- include("./partials/header") %>

      <main class="main">
        <section class="register">
          <div class="register__tittle">
            <p class="register__tittle-text">Cadastro de Usuário</p>
          </div>

          <div class="register__div">
            <form action="/cadastroUsuario" method="POST" id="register__form-user" class="register__form-user">
              
              <div class="register__user">
                <label class="register__user-label" for="username"
                  >Crie um nome de usuário:</label
                >
                <input
                  class="register__user-input"
                  type="text"
                  id="username"
                  name="username"
                  placeholder="ex: mandyHellz"
                  required
                />
                <span class="error-message"></span>
              </div>

              <p class="register__disponibility">Verificar disponibilidade</p>

              <div class="register__password">
                <label for="password"
                  >Crie uma senha:</label
                >
                <input
                  type="password"
                  id="password"
                  name="password"
                  placeholder="Senha"
                  required
                />
                <span class="error-message"></span>
                <br />

                <label for="passwordConfirm"
                  >Digite a senha novamente:</label
                >
                <input
                  type="password"
                  id="password2"
                  name="password2"
                  placeholder="Confirme a senha"
                  required
                />
                <span class="error-message"></span>
              </div>

              <div class="register__email">
                <label for="email">E-mail:</label>
                <input
                  class="register__email-input"
                  type="email"
                  id="email"
                  name="email"
                  placeholder="seuemail@email.com"
                  required
                />
                <span class="error-message"></span>
              </div>

              <div class="register__submit">
                <input
                  class="register__submit-btn"
                  type="submit"
                  id= "submit-btn"
                  onclick=""
                  value="Finalizar cadastro"
                />
              </div>
            </form>
          </div>

        </section>
      </main>

      <%- include("./partials/footer") %>
    <!-- </div> -->
  </body>
</html>
