<!DOCTYPE html>

<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./stylesheets/caixaRecuperacaoSenha.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <title>Recuperação de senha</title>
  </head>
  
  <body>
    <div class="container">
      <section class="recovery">
        <div class="recovery__div">
          <div class="recovery__close-div">
            <a href="./login.html"><img
              class="recovery__close"
              src="./images/recuperacao/carbon_close-outline.svg"
            /></a>
          </div>
          <div class="recovery__tittle">
            <p class="recovery__tittle-text">Esqueceu a sua senha? Eita...</p>
          </div>
          <form class="recovery__form" method="dialog">
            <input
              class="recovery__email"
              type="email"
              id="email"
              name="email"
              placeholder="seuemail@email.com"
            />
            <br />
            <input
              class="recovery__submit"
              type="submit"
              onclick=""
              value="Enviar"
            />
          </form>
          <div class="recovery__text">
            <p class="recovery__text-info">
              Insira seu e-mail cadastrado e lhe enviaremos um link para a
              redefinição de senha.
            </p>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
