<!DOCTYPE html>

<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./stylesheets/categoria.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap"
      rel="stylesheet"/>
    <title>Categoria</title>
    <script>
      function abrirPopUp(){
        document.getElementById("popUp").style.display = "block";
      }
      function fecharPopUp(){
        document.getElementById("popUp").style.display = "none";
      }
    </script>
  </head>
  
  <body class="container">
    <%- include("./partials/header") %> 

    <div class="Container Container-background">

      <div id="popUp" style="display: none;position: relative;background-color: black; width: 600px; height: 300px;margin: auto;">
        <input type="Button" onclick="fecharPopUp()" value="X" style="float: right;">
     </div>

        <section class="main-reader">
            <div class="">
              <p class="">Categoria "Ação" </p><span id="spncategoria"> </span>
            </div>
        </section>
        <label style="margin-left: 50px;">Jogos Recomendados</label>
        <div class="first-carrousel">
            
            <div>
                <img src="./images/categoria/csgo.jpg"/>
                <img src="./images/categoria/maxpayne3.jpg"/>
                <img src="./images/categoria/wordsoflegends.jpg"/>
            </div>
        </div>
        <br/>

        <div class="categoria-galeria">
        <div class="categoria-galeria-filtro">
            <article class="categoria__info">
                <h3 class="categoria__titulo">Filtros</h3>
                <div class="categoria__info__dados">
                  <p class="categoria__texto">Categorias</p>
                </div>

                <div class="categoria__info__dados">
                    <p class="categoria__texto">Valor</p>
                  </div>
        
                <div class="categoria__info__dados">
                  <p class="categoria__texto">Configuração</p>
                   </div>
                
                <div class="categoria__info__dados">
                  <p class="categoria__texto">Faixa Etária</p>
                  </div>
    
                  <div class="categoria__info__dados">
                    <p class="categoria__texto">Classificação</p>
                    </div>
              </article>
            </section>

        </div>

        <div class="categoria-galeria-conteudo">
            <p>Lançamentos Recomendados</p>
            <div class="second-carrousel">
            
                
                <div class="second-carrousel-img-container">
                    <img src="./images/categoria/açao_lançamento1.jpg"/>
                    <br/>
                    <div class="item-buttons">    
                    <span class="categoria-pagina">Pagina do Jogo</span>
                    <span class="categoria-jogar">Jogar</span>
                </div>
                </div>
                <div class="second-carrousel-img-container">
                    <img src="./images/categoria/açao_lançamento2.jpg"/>
                    <br/>
                    <div class="item-buttons">    
                    <span class="categoria-pagina">Pagina do Jogo</span>
                    <span class="categoria-jogar">Jogar</span>
                </div>
                </div>
                <div class="second-carrousel-img-container">
                    <img src="./images/categoria/açao_lançamento3.jpg"/>
                    <br/>
                    <div class="item-buttons">    
                    <span class="categoria-pagina">Pagina do Jogo</span>
                    <span class="categoria-jogar">Jogar</span>
                </div>
                </div>
            </div>
            <br>          
            
            <div class="second-carrousel">
              <p>Mais Vendidos da Categoria</p>
                <div>
                  <div class="second-carrousel-img-container">
                    <img src="./images/categoria/açao_maisvendido1.jpg"/>
                    <br/>
                    <div class="item-buttons">    
                    <span class="categoria-pagina">Pagina do Jogo</span>
                    <span class="categoria-jogar">Jogar</span>
                </div>
              </div>
              <div class="second-carrousel-img-container">
                    <img src="./images/categoria/açao_maisvendido2.jpg"/>
                    <br/>
                    <div class="item-buttons">    
                    <span class="categoria-pagina">Pagina do Jogo</span>
                    <span class="categoria-jogar">Jogar</span>
                </div>
              </div>
              <div class="second-carrousel-img-container">
                    <img src="./images/categoria/açao_maisvendido3.jpg"/>
                    <br/>
                    <div class="item-buttons">    
                    <span class="categoria-pagina">Pagina do Jogo</span>
                    <span class="categoria-jogar">Jogar</span>
                </div>
              </div>  
                </div>
            </div>
            <br/>
            <p>Em Breve</p>
            <div class="second-carrousel">
              
              <div>
                <div class="second-carrousel-img-container">
                  <img src="./images/categoria/açao_embreve1.jpg"/>
                  <br/>
                  <div class="item-buttons">    
                  <span class="categoria-pagina">Pagina do Jogo</span>
                  <span class="categoria-jogar">Jogar</span>
              </div>
            </div>
            <div class="second-carrousel-img-container">
                  <img src="./images/categoria/açao_embreve2.jpg"/>
                  <br/>
                  <div class="item-buttons">    
                  <span class="categoria-pagina">Pagina do Jogo</span>
                  <span class="categoria-jogar">Jogar</span>
              </div>
            </div>
            <div class="second-carrousel-img-container">
                  <img src="./images/categoria/açao_embreve3.jpg"/>
                  <br/>
                  <div class="item-buttons">    
                  <span class="categoria-pagina">Pagina do Jogo</span>
                  <span class="categoria-jogar">Jogar</span>
              </div>
            </div>  
              </div>
          </div>

        </div>

        </div>
      </div>

      <%- include("./partials/footer") %>
      
    </div>
  </body>
</html>
