<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/conta.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap"
    rel="stylesheet"/>
  <title>Conta - Geral</title>
</head>

<body class="body">
  <header class="header">
    <button class="menu-mobile">
      <img
        class="menu-mobile__imagem"
        src="./images/menu.svg"
        alt="Menu mobile"
      />
    </button>
    <img
      class="logo--mobile"
      src="./images/logo-horizontal.svg"
      alt="Logo do website"
    />
    <div class="pesquisa-e-compras">
      <img class="pesquisa" src="./images/icone-lupa.svg" alt="Pesquisar" />
      <img
        class="carrinho-de-compras"
        src="./images/icone-compras.svg"
        alt="Carrinho de compras"
      />
    </div>
  </header>

  <header class="header__medium-devices">
    <a class="menu__desktop" href="#">
      <img
        class="logo__desktop"
        src="./images/menu-desktop/logoEleita.PNG"
        alt="logotipo desktop"
        width="110px"
        height="65px"
      />
    </a>
    <ul class="menu__pages">
      <li class="menu__page">
        <a class="menu__page-link" href="./index.html">home</a>
      </li>
      <li class="menu__page">
        <a class="menu__page-link" href="./biblioteca.html">biblioteca</a>
      </li>
      <li class="menu__page">
        <a class="menu__page-link" href="./foruns.html">fórum</a>
      </li>
      <li class="menu__page">
        <a class="menu__page-link" href="./categorias.html">categorias</a>
      </li>
      <li class="menu__page">
        <a class="menu__page-link" href="./suporte.html">suporte</a>
      </li>
    </ul>
    <form class="menu__searchbar">
      <input
        class="menu__searchbar-input"
        type="text"
        id="searchbar"
        name="searchbar"
        placeholder="Buscar"
      />
    </form>
    <div class="menu__loupe">
      <img
        class="menu__loupe-img"
        src="./images/menuOculto/loupe.svg"
        onclick=""
      />
    </div>
    <div class="menu__shopping">
      <a href="./carrinho.html" style="text-decoration: none;"><img
        class="shopping-cart"
        src="./images/menu-desktop/carrinho.svg"
        alt="carrinho de compras"
        width="22px"
        height="22px"
      /></a>
    </div>
    <div class="menu__user">
      <a class="user" href="./login.html">
        <img
          class="user-login"
          src="./images/menu-desktop/user.svg"
          alt="login do usuário"
          width="60px"
          height="60px"
      /></a>
    </div>
  </header>

  <main class="main">
    <section class="menu-lateral">
      <a href="/conta">
        <article class="menu-lateral__nav-link">
          <img src="./images/conta/man.png" alt="Usuário">
          <p class="menu-lateral__texto">Geral</p>
        </article>
      </a>

      <a href="/seguranca">
        <article class="menu-lateral__nav-link">
          <img src="./images/conta/key.png" alt="Chave">
          <p class="menu-lateral__texto">Senha e Segurança</p>
        </article>
      </a>

      <a href="/transacoes">
        <article class="menu-lateral__nav-link">
          <img src="./images/conta/money.png" alt="Sinal monetário">
          <p class="menu-lateral__texto">Transações</p>
        </article>
      </a>

      <a href="/metodosPagamento">
        <article class="menu-lateral__nav-link">
          <img src="./images/conta/carteira.png" alt="Carteira">
          <p class="menu-lateral__texto">Formas de pagamento</p>
        </article>
      </a>

      <a href="/pedidos">
        <article class="menu-lateral__nav-link">
          <img src="./images/conta/pedidos.png" alt="Prancheta de pedidos">
          <p class="menu-lateral__texto">Pedidos</p>
        </article>
      </a>
    </section>

    <div class="main__config">
      <section class="config">
        <article class="config__article config__article--com-borda">
          <h1 class="config__titulo">Configurações Gerais</h1>
          <p class="config__texto">Gerencie os detalhes da conta que você compartilha conosco.</p>
        </article>
  
        <article class="config__article">
          <h2 class="config__titulo">Informações da Conta</h2>
          <p class="config__texto">ID: XXXXXX</p>
    
          <div class="config__nome-e-email">
            <form class="config__caixa-info" action="">
              <div class="config__informacao">
                <label class="config__texto config__texto--menor" for="nomeDeUsuario">Nome de usuário:</label>
                <input class="config__input" type="text" name="nomeDeUsuario" id="nomeDeUsuario" value="Lorem_ipsum">
              </div>
      
              <button class="config__caixa-info__botao" type="reset">
                <img src="./images/pencil.png" alt="Lápis">
              </button>
            </form>
      
            <form class="config__caixa-info" action="">
              <div class="config__informacao">
                <label class="config__texto config__texto--menor" for="email">Endereço de e-mail:</label>
                <input class="config__input" type="email" name="email" id="email" value="lorem_ipsum@gmail.com">
              </div>
         
              <button class="config__caixa-info__botao" type="reset">
                <img src="./images/pencil.png" alt="Lápis">
              </button>
            </form>
          </div>
        </article>
        
        <form action="">
          <article class="config__article">
            <h2 class="config__titulo">Detalhes pessoais</h2>
            <p class="config__texto">Gerencie seu nome e informações de contato. Essas informações pessoas são privadas e não serão exibidas para outros usuários.</p>
            
            <div class="config__nome-e-idioma">
              <div class="config__nome-e-idioma__div">
                
                <div class="config__caixa-info">
                  <div class="config__informacao">
                    <label class="config__texto config__texto--menor" for="nome">Nome:</label>
                    <input class="config__input" type="text" name="nome" id="nome" value="Lorem">
                  </div>
                </div>
                
                <div class="config__caixa-info">
                  <div class="config__informacao">
                    <label class="config__texto config__texto--menor" for="sobrenome">Sobrenome:</label>
                    <input class="config__input" type="text" name="sobrenome" id="sobrenome" value="Ipsum">
                  </div>
                </div>
              </div>

              <div class="config__nome-e-idioma__div">
                <div class="config__caixa-info">
                  <div class="config__informacao">
                    <label class="config__texto config__texto--menor" for="idioma">Idioma de comunicação preferido:</label>
                    <input class="config__input" type="text" name="idioma" id="idioma" value="Português (Brasil)">
                  </div>
                </div>
  
                <div class="config__caixa-info config__caixa-info--oculta"></div>
              </div>
      
            </div>
          </article>
    
          <article class="config__article">
            <h2 class="config__titulo">Endereço</h2>
  
            <div class="config__endereco">
  
              <div class="config__rua-e-numero">
                <div class="config__caixa-info">
                  <div class="config__informacao">
                    <label class="config__texto config__texto--menor" for="rua">Rua:</label>
                    <input class="config__input" type="text" name="rua" id="rua" value="Joaquina Lorem Ipsum">
                  </div>
                </div>
        
                <div class="config__caixa-info">
                  <div class="config__informacao">
                    <label class="config__texto config__texto--menor" for="numero">Número:</label>
                    <input class="config__input" type="text" name="numero" id="numero" value="2005">
                  </div>
                </div>
              </div>
  
              <div class="config__cidade-e-pais">
                <div class="config__caixa-info">
                  <div class="config__informacao">
                    <label class="config__texto config__texto--menor" for="cidade">Cidade:</label>
                    <input class="config__input" type="text" name="cidade" id="cidade" value="São Paulo">
                  </div>
                </div>
        
                <div class="config__caixa-info">
                  <div class="config__informacao">
                    <label class="config__texto config__texto--menor" for="pais">País:</label>
                    <input class="config__input" type="text" name="pais" id="pais" value="Brasil">
                  </div>
                </div>
              </div>
            </div>
          </article>
    
          <div class="config__div-botoes">
            <button class="config__botao config__botao--margin" type="submit">Salvar mudanças</button>
            <button class="config__botao" type="reset">Descartar mudanças</button>
          </div>
        </form>
      </section>
  
      <section class="config config--excluir">
        <h2 class="config__titulo config__titulo--excluir">Excluir Conta</h2>
        <p class="config__texto">Clique em <strong class="config__strong">solicitar exlusão de conta</strong> para iniciar o processo de exclusão permanente da sua conta, incluindo todas as informações pessoais, compras, progresso nos jogos e conteúdo dentro dos jogos.</p>
        <button class="config__botao config__botao--excluir" type="submit">Solicitar exclusão de conta</button>
      </section>
    </div>
  </main>

  <footer class="footer">
    <section class="media-social">
      <h2 class="media-social__titulo">Já segue a gente nas redes?</h2>

      <article class="media-social__links">
        <a class="media-social__a" href="https://www.facebook.com/">
          <img src="./images/facebook-icon.svg" alt="Facebook" />
        </a>

        <a class="media-social__a" href="https://www.instagram.com/">
          <img src="./images/instagram-icon.svg" alt="Instagram" />
        </a>

        <a class="media-social__a" href="https://twitter.com/">
          <img src="./images/twitter-icon.svg" alt="Twitter" />
        </a>
      </article>
    </section>

    <section class="termos-e-politicas">
      <p class="termos-e-politicas__p">Termos de Serviço</p>
      <p class="termos-e-politicas__p">Política de Privacidade</p>
      <p class="termos-e-politicas__p">Política de Reembolso da Loja</p>
    </section>
  </footer>

  <footer class="footer__desktop">
    <section class="superior__infos">
      <div class="logo">
        <img
          class="footer__logo"
          src="./images/menu-desktop/logoEleita.PNG"
          width="150px"
          height="100px"
        />
      </div>

      <div class="div__links">
        <div class="links">
          <h5 class="tittle__links">Lorem ipsum dolor</h5>
          <ul class="footer__links">
            <li class="footer__link">
              <a class="footer__page-link" href="#">quos animi ipsam</a>
            </li>
            <li class="footer__link">
              <a class="footer__page-link" href="#">quos animi ipsam</a>
            </li>
            <li class="footer__link">
              <a class="footer__page-link" href="#">quos animi ipsam</a>
            </li>
            <li class="footer__link">
              <a class="footer__page-link" href="#">quos animi ipsam</a>
            </li>
          </ul>
        </div>

        <div class="links">
          <h5 class="tittle__links">Lorem ipsum dolor</h5>
          <ul class="footer__links">
            <li class="footer__link">
              <a class="footer__page-link" href="#">quos animi ipsam</a>
            </li>
            <li class="footer__link">
              <a class="footer__page-link" href="#">quos animi ipsam</a>
            </li>
            <li class="footer__link">
              <a class="footer__page-link" href="#">quos animi ipsam</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="social-media">
        <h4 class="social-media__title">Já segue a gente nas redes?</h4>

        <article class="social-media__links">
          <a class="socialmedia__a" href="https://www.facebook.com/">
            <img
              class="socialmedia__img"
              src="./images/facebook-icon.svg"
              alt="Facebook"
            />
          </a>

          <a class="socialmedia__a" href="https://www.instagram.com/">
            <img
              class="socialmedia__img"
              src="./images/instagram-icon.svg"
              alt="Instagram"
            />
          </a>

          <a class="socialmedia__a" href="https://twitter.com/">
            <img
              class="socialmedia__img"
              src="./images/twitter-icon.svg"
              alt="Twitter"
            />
          </a>
        </article>
      </div>
    </section>

    <section class="terms">
      <div class="terms-and-policies">
        <a class="terms-and-policies__link" href="#"
          ><p class="terms-and-policies__p">Termos de Serviço</p></a
        >
        <a class="terms-and-policies__link" href="#"
          ><p class="terms-and-policies__p">Política de Privacidade</p></a
        >
        <a class="terms-and-policies__link" href="#"
          ><p class="terms-and-policies__p">
            Política de Reembolso da Loja
          </p></a
        >
      </div>
    </section>
  </footer>
  
</body>
</html>