<!DOCTYPE html>

<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Erro - Pagamento</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Russo+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./stylesheets/erroPagamento.css" />
  </head>

  <body>
    <%- include("./partials/header") %>

    <main class="container">
      <section class="boxErroPagamento">
        <div class="boxErroPagamento__header">
          <div>
            <img
              src="./images/pagamento/img/Erro - pagamento cartão.svg"
              alt=""
            />
          </div>
          <div><h4>Ocorreu um erro...</h4></div>
          <div><h2>O seu cartão recusou o pagamento</h2></div>
        </div>
        <section class="boxErroPagamento__info">
          <h3>O que você pode fazer?</h3>
          <div>
            <ol>
              <li>
                Clique no botão de “Revisar dados do pagamento” para efetuar a
                correção ou escolher outro cartão.
              </li>
              <div class="boxErroPagamento__revisar">
                <a href="#"
                  ><img src="./images/Lincoln/Revisar dados - botão.svg" alt=""
                /></a>
              </div>
              <li>Tente usar outra forma de pagamento</li>
              <div class="boxErroPagamento__pgt">
                <div class="boxErroPagamento__opcao">
                  <a href="#"
                    ><img
                      src="./images/pagamento/tipos-pagamento/pix.png"
                      alt=""
                  /></a>
                </div>
                <div class="boxErroPagamento__opcao">
                  <a href="#"
                    ><img
                      src="./images/pagamento/tipos-pagamento/boleto.png"
                      alt=""
                  /></a>
                </div>
                <div class="boxErroPagamento__opcao">
                  <a href="#"
                    ><img
                      src="../images/pagamento/tipos-pagamento/bitcoin.png"
                      alt=""
                  /></a>
                </div>
              </div>
              <li>
                Ligue para o emissor do cartão para autorizar este pagamento.
              </li>
            </ol>
          </div>
        </section>
      </section>
    </main>

    <%- include("./partials/footer") %>
  </body>
</html>
