<!DOCTYPE html>

<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./stylesheets/reset.css">
  <link rel="stylesheet" href="./stylesheets/header.css">
  <link rel="stylesheet" href="./stylesheets/style.css">
  <link rel="stylesheet" href="./stylesheets/forumJogo.css">
  <link rel="preconnect" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&family=Russo+One&display=swap" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap"
    rel="stylesheet"/>
  <title>Comunidade - Ghost of Tsushima</title>
</head>

<body class="body">
  <%- include("./partials/header") %>

  <main class="main">
    <section class="regras-e-historico">
      <a class="regras-e-historico__ancora" href="#">
        <div class="regras-e-historico__div" href="">
          <img src="./images/foruns/balanca.svg" alt="Regras">
          <p class="regras-e-historico__texto">Regras e diretrizes para discussões</p>
        </div>
      </a>

      <a class="regras-e-historico__ancora" href="#">
        <div class="regras-e-historico__div" href="">
          <img src="./images/foruns/historico.svg" alt="Regras">
          <p class="regras-e-historico__texto">Histórico nas discussões</p>
        </div>
      </a>
    </section>    
    
    <h2 class="forum__titulo forum__titulo--russo-one">Ghost of Tsushima</h2>
    
    <section class="forum">
      <article class="forum__info">
        <h3 class="forum__titulo">Informações</h3>
        <div class="forum__info__dados">
          <p class="forum__texto">Discussões gerais</p>
          <p class="forum__texto">XXX</p>
        </div>

        <div class="forum__info__dados">
          <p class="forum__texto">Eventos e anúncios</p>
          <p class="forum__texto">XXX</p>
        </div>
        
        <div class="forum__info__dados">
          <p class="forum__texto">Trocas</p>
          <p class="forum__texto">XXX</p>
        </div>
      </article>

      <article class="forum__topicos">
        <div class="forum__faixa-info">
          <p class="forum__texto">Exibindo 10 de 278 tópicos ativos</p>
          <div class="forum__topicos__navegar forum__topicos__navegar--superior">
            <img src="./images/foruns/seta-esquerda.png" alt="">
            <p class="forum__texto forum__texto__navegar">1   2   3   4   5   6   ...   19</p>
            <img src="./images/foruns/seta-direita.png" alt="">
          </div>
        </div>
        
        <div class="forum__topico">
          <p class="forum__texto">Tópico 1</p>
        </div>
        <div class="forum__topico">
          <p class="forum__texto">Tópico 2</p>
        </div>
        <div class="forum__topico">
          <p class="forum__texto">Tópico 3</p>
        </div>
        <div class="forum__topico">
          <p class="forum__texto">Tópico 4</p>
        </div>
        <div class="forum__topico">
          <p class="forum__texto">Tópico 5</p>
        </div>
        <div class="forum__topico">
          <p class="forum__texto">Tópico 6</p>
        </div>
        <div class="forum__topico">
          <p class="forum__texto">Tópico 7</p>
        </div>
        <div class="forum__topico">
          <p class="forum__texto">Tópico 8</p>
        </div>
        <div class="forum__topico">
          <p class="forum__texto">Tópico 9</p>
        </div>
        <div class="forum__topico">
          <p class="forum__texto">Tópico 10</p>
        </div>

        <div class="forum__topicos__navegar">
          <img src="./images/foruns/seta-esquerda.png" alt="">
          <p class="forum__texto forum__texto__navegar">1   2   3   4   5   6   ...   19</p>
          <img src="./images/foruns/seta-direita.png" alt="">
        </div>
      </article>
      
    </section>
  </main>

  <%- include("./partials/footer") %>
  
</body>
</html>