<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./stylesheets/header.css">
    <link rel="stylesheet" href="./stylesheets/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap"
      rel="stylesheet"/>
    <title>Storm Games</title>
  </head>
  
  <body>
    <div class="container">
      <%- include("./partials/header") %> 

      <main>
        <section class="first-section">
          <div class="first-section__div">
            <p class="first-section__text">Lorem ipsum dolor sit amet</p>
          </div>

          <div class="first-section__div-carousel">
            <ul class="first-section__carousel">
              <li class="first-section__item1">
                <a href="#" class="first-section__link">
                  <div class="image__container">
                    <img
                      class="first-section__imglink"
                      src="./images/homepage/games/acvalhallamale.jpg"
                    />
                  </div>
                </a>
              </li>
              <li class="first-section__item2">
                <a href="#" class="first-section__link">
                  <div class="image__container">
                    <img
                      class="first-section__imglink"
                      src="./images/homepage/games/control.jpg"
                    />
                  </div>
                </a>
              </li>
              <li class="first-section__item3">
                <a href="#" class="first-section__link">
                  <div class="image__container">
                    <img
                      class="first-section__imglink"
                      src="./images/homepage/games/battlefield.jpeg"
                    />
                  </div>
                </a>
              </li>
              <li class="first-section__item4">
                <a href="#" class="first-section__link">
                  <div class="image__container">
                    <img
                      class="first-section__imglink"
                      src="./images/homepage/games/mk11.jpg"
                    />
                  </div>
                </a>
              </li>
              <li class="first-section__item5">
                <a href="#" class="first-section__link">
                  <div class="image__container">
                    <img
                      class="first-section__imglink"
                      src="./images/homepage/games/horizon.jpeg"
                    />
                  </div>
                </a>
              </li>
              <li class="first-section__item6">
                <a href="#" class="first-section__link">
                  <div class="image__container">
                    <img
                      class="first-section__imglink"
                      src="./images/homepage/games/jurassicpark.png"
                    />
                  </div>
                </a>
              </li>
              <li class="first-section__item7">
                <a href="#" class="first-section__link">
                  <div class="image__container">
                    <img
                      class="first-section__imglink"
                      src="./images/homepage/games/monsterhunter.jpeg"
                    />
                  </div>
                </a>
              </li>
              <li class="first-section__item8">
                <a href="#" class="first-section__link">
                  <div class="image__container">
                    <img
                      class="first-section__imglink"
                      src="./images/homepage/games/lis.jpg"
                    />
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </section>

        <section class="video">
          <div class="video__div-selectors">
            <p class="video__selectors">.</p>
            <p class="video__selectors">.</p>
            <p class="video__selectors">.</p>
            <p class="video__selectors">.</p>
            <p class="video__selectors">.</p>
          </div>

          <div class="video__div-text">
            <p class="video__text">Lorem ipsum dolor sit amet</p>
          </div>

          <div class="video__div-iframe">
            <iframe
              width="1366"
              height="768"
              src="https://www.youtube.com/embed/tsvprGlVHzg"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            >
            </iframe>
          </div>

          <div class="video__scenes">
            <div class="video__div-photos">
              <img
                class="video__photos1"
                src="./images/homepage/photos/ellie_bow.jpg"
                alt=""
              />
              <img
                class="video__photos2"
                src="./images/homepage/photos/looking.jpg"
                alt=""
              />
              <img
                class="video__photos3"
                src="./images/homepage/photos/ellie_battle.jpg"
                alt=""
              />
            </div>

            <div class="video__texts">
              <a class="video__popularlink" href="#"
                ><p class="video__text-popular">Popular</p>
              </a>

              <div class="video__text-prices">
                <p class="video__text-avaiable">Disponível</p>
                <br />
                <a class="video__pricelink" href="#">
                  <p class="video__text-price">R$69,90</p></a
                >
              </div>
            </div>
          </div>

          <div class="promos__div-selectors">
            <p class="promo__selectors">.</p>
            <p class="promo__selectors">.</p>
            <p class="promo__selectors">.</p>
            <p class="promo__selectors">.</p>
            <p class="promo__selectors">.</p>
          </div>
        </section>

        <section class="promos">
          <div class="promos__div-text">
            <p class="promos__text">Lorem ipsum dolor sit amet</p>
          </div>

          <div class="promos__div-biggest">
            <div class="promos__biggest">
              <a class="promos__link" href="#">
                <img
                  class="promos__biggest-img"
                  src="./images/homepage/games/RDR.jpg"
                />
              </a>
              <div class="promos__texts">
                <p class="promos__text-avaiable">Disponível</p>
                <p
                  class="promos__text-oldprice"
                  style="text-decoration: line-through"
                >
                  R$249,90
                </p>
                <a
                  class="promos__pricelink"
                  href="#"
                  style="text-decoration: none"
                  ><p class="promos__text-price">R$169,90</p></a
                >
              </div>
            </div>
          </div>

          <div class="promos__div-carousel">
            <ul class="promos__carousel">
              <li class="promos__item">
                <a href="#" class="promos__link">
                  <div class="image__container">
                    <img
                      class="promos__imglink"
                      src="./images/homepage/games/darksouls3.jpg"
                    />
                  </div>
                </a>
                <div class="promos__text-carousel">
                  <p
                    class="promos__oldprice"
                    style="text-decoration: line-through"
                  >
                    R$00,00
                  </p>
                  <p class="promos__newprice">R$00,00</p>
                </div>
              </li>

              <li class="promos__item">
                <a href="#" class="promos__link">
                  <div class="image__container">
                    <img
                      class="promos__imglink"
                      src="./images/homepage/games/cyberpunk.jpg"
                    />
                  </div>
                </a>
                <div class="promos__text-carousel">
                  <p
                    class="promos__oldprice"
                    style="text-decoration: line-through"
                  >
                    R$00,00
                  </p>
                  <p class="promos__newprice">R$00,00</p>
                </div>
              </li>
              <li class="promos__item3">
                <a href="#" class="promos__link">
                  <div class="image__container">
                    <img
                      class="promos__imglink"
                      src="./images/homepage/games/revillage.jpg"
                    />
                  </div>
                </a>
                <div class="promos__text-carousel">
                  <p
                    class="promos__oldprice"
                    style="text-decoration: line-through"
                  >
                    R$00,00
                  </p>
                  <p class="promos__newprice">R$00,00</p>
                </div>
              </li>
              <li class="promos__item4">
                <a href="#" class="promos__link">
                  <div class="image__container">
                    <img
                      class="promos__imglink"
                      src="./images/homepage/games/ghostOfTsushima.jpg"
                    />
                  </div>
                </a>
                <div class="promos__text-carousel">
                  <p
                    class="promos__oldprice"
                    style="text-decoration: line-through"
                  >
                    R$00,00
                  </p>
                  <p class="promos__newprice">R$00,00</p>
                </div>
              </li>
            </ul>
          </div>

          <div class="promos__div-carousel">
            <ul class="promos__carousel">
              <li class="promos__item">
                <a href="#" class="promos__link">
                  <div class="image__container">
                    <img
                      class="promos__imglink"
                      src="./images/homepage/games/the-witcher-3-poster.jpg"
                    />
                  </div>
                </a>
                <div class="promos__text-carousel">
                  <p
                    class="promos__oldprice"
                    style="text-decoration: line-through"
                  >
                    R$00,00
                  </p>
                  <p class="promos__newprice">R$00,00</p>
                </div>
              </li>

              <li class="promos__item">
                <a href="#" class="promos__link">
                  <div class="image__container">
                    <img
                      class="promos__imglink"
                      src="./images/homepage/games/ffvii.jpg"
                    />
                  </div>
                </a>
                <div class="promos__text-carousel">
                  <p
                    class="promos__oldprice"
                    style="text-decoration: line-through"
                  >
                    R$00,00
                  </p>
                  <p class="promos__newprice">R$00,00</p>
                </div>
              </li>
              <li class="promos__item3">
                <a href="#" class="promos__link">
                  <div class="image__container">
                    <img
                      class="promos__imglink"
                      src="./images/homepage/games/ghostOfTsushima.jpg"
                    />
                  </div>
                </a>
                <div class="promos__text-carousel">
                  <p
                    class="promos__oldprice"
                    style="text-decoration: line-through"
                  >
                    R$00,00
                  </p>
                  <p class="promos__newprice">R$00,00</p>
                </div>
              </li>
              <li class="promos__item4">
                <a href="#" class="promos__link">
                  <div class="image__container">
                    <img
                      class="promos__imglink"
                      src="./images/homepage/games/ghostOfTsushima.jpg"
                    />
                  </div>
                </a>
                <div class="promos__text-carousel">
                  <p
                    class="promos__oldprice"
                    style="text-decoration: line-through"
                  >
                    R$00,00
                  </p>
                  <p class="promos__newprice">R$00,00</p>
                </div>
              </li>
            </ul>
          </div>

          <div class="promos__div-selectors">
            <p class="promo__selectors">.</p>
            <p class="promo__selectors">.</p>
            <p class="promo__selectors">.</p>
            <p class="promo__selectors">.</p>
            <p class="promo__selectors">.</p>
          </div>
        </section>

        <section class="promos__desktop">
          <div class="desktop__div-text">
            <p class="desktop__text">Lorem ipsum dolor sit amet</p>
          </div>

          <div class="desktop__div-biggest">
            <div class="desktop">
              <a class="desktop__link" href="#">
                <img
                  class="desktop__biggest-img"
                  src="./images/homepage/games/RDR.jpg"
                />
              </a>
              <div class="desktop__texts">
                <p class="desktop__text-avaiable">Disponível</p>
                <p
                  class="desktop__text-oldprice"
                  style="text-decoration: line-through"
                >
                  R$249,90
                </p>
                <a
                  class="desktop__pricelink"
                  href="#"
                  style="text-decoration: none"
                  ><p class="desktop__text-price">R$169,90</p></a
                >
              </div>
            </div>

            <div class="desktop__carousels">
              <div class="desktop__div-carousel">
                <ul class="desktop__carousel">
                  <li class="desktop__item">
                    <a href="#" class="desktop__link">
                      <div class="image__container">
                        <img
                          class="desktop__imglink"
                          src="./images/homepage/games/darksouls3.jpg"
                        />
                      </div>
                    </a>
                    <div class="desktop__text-carousel">
                      <p
                        class="desktop__oldprice"
                        style="text-decoration: line-through"
                      >
                        R$00,00
                      </p>
                      <p class="desktop__newprice">R$00,00</p>
                    </div>
                  </li>

                  <li class="desktop__item">
                    <a href="#" class="desktop__link">
                      <div class="image__container">
                        <img
                          class="desktop__imglink"
                          src="./images/homepage/games/cyberpunk.jpg"
                        />
                      </div>
                    </a>
                    <div class="desktop__text-carousel">
                      <p
                        class="desktop__oldprice"
                        style="text-decoration: line-through"
                      >
                        R$00,00
                      </p>
                      <p class="desktop__newprice">R$00,00</p>
                    </div>
                  </li>
                  <li class="desktop__item3">
                    <a href="#" class="desktop__link">
                      <div class="image__container">
                        <img
                          class="desktop__imglink"
                          src="./images/homepage/games/DiabloIV.png"
                        />
                      </div>
                    </a>
                    <div class="desktop__text-carousel">
                      <p
                        class="desktop__oldprice"
                        style="text-decoration: line-through"
                      >
                        R$00,00
                      </p>
                      <p class="desktop__newprice">R$00,00</p>
                    </div>
                  </li>
                  <li class="desktop__item4">
                    <a href="#" class="desktop__link">
                      <div class="image__container">
                        <img
                          class="desktop__imglink"
                          src="./images/homepage/games/deathstranding.jpg"
                        />
                      </div>
                    </a>
                    <div class="desktop__text-carousel">
                      <p
                        class="desktop__oldprice"
                        style="text-decoration: line-through"
                      >
                        R$00,00
                      </p>
                      <p class="desktop__newprice">R$00,00</p>
                    </div>
                  </li>
                </ul>
              </div>

              <div class="desktop__div-carousel">
                <ul class="desktop__carousel">
                  <li class="desktop__item">
                    <a href="#" class="desktop__link">
                      <div class="image__container">
                        <img
                          class="desktop__imglink"
                          src="./images/homepage/games/the-witcher-3-poster.jpg"
                        />
                      </div>
                    </a>
                    <div class="desktop__text-carousel">
                      <p
                        class="desktop__oldprice"
                        style="text-decoration: line-through"
                      >
                        R$00,00
                      </p>
                      <p class="desktop__newprice">R$00,00</p>
                    </div>
                  </li>

                  <li class="desktop__item">
                    <a href="#" class="desktop__link">
                      <div class="image__container">
                        <img
                          class="desktop__imglink"
                          src="./images/homepage/games/ffvii.jpg"
                        />
                      </div>
                    </a>
                    <div class="desktop__text-carousel">
                      <p
                        class="desktop__oldprice"
                        style="text-decoration: line-through"
                      >
                        R$00,00
                      </p>
                      <p class="desktop__newprice">R$00,00</p>
                    </div>
                  </li>
                  <li class="desktop__item3">
                    <a href="/jogo" class="desktop__link">
                      <div class="image__container">
                        <img
                          class="desktop__imglink"
                          src="./images/homepage/games/ghostOfTsushima.jpg"
                        />
                      </div>
                    </a>
                    <div class="desktop__text-carousel">
                      <p
                        class="desktop__oldprice"
                        style="text-decoration: line-through"
                      >
                        R$00,00
                      </p>
                      <p class="desktop__newprice">R$00,00</p>
                    </div>
                  </li>
                  <li class="desktop__item4">
                    <a href="#" class="desktop__link">
                      <div class="image__container">
                        <img
                          class="desktop__imglink"
                          src="./images/homepage/games/revillage.jpg"
                        />
                      </div>
                    </a>
                    <div class="desktop__text-carousel">
                      <p
                        class="desktop__oldprice"
                        style="text-decoration: line-through"
                      >
                        R$00,00
                      </p>
                      <p class="desktop__newprice">R$00,00</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
      </main>

      <%- include("./partials/footer") %> 
    </div>
  </body>
</html>
