<!DOCTYPE html>

<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./stylesheets/reset.css">
  <link rel="stylesheet" href="./stylesheets/metodosPagamento.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
  <link
  href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap"
  rel="stylesheet"/>
  <title>Métodos de Pagamento</title>
</head>

<body class="body">
  <%- include("./partials/header") %>

  <main class="main">
    <section class="menu-lateral">
      <a href="/conta">
        <article class="menu-lateral__nav-link">
          <img src="./images/conta/man.png" alt="Usuário">
          <p class="menu-lateral__texto">Geral</p>
        </article>
      </a>

      <a href="/seguranca">
        <article class="menu-lateral__nav-link">
          <img src="./images/conta/key.png" alt="Chave">
          <p class="menu-lateral__texto">Senha e Segurança</p>
        </article>
      </a>

      <a href="/transacoes">
        <article class="menu-lateral__nav-link">
          <img src="./images/conta/money.png" alt="Sinal monetário">
          <p class="menu-lateral__texto">Transações</p>
        </article>
      </a>

      <a href="/metodosPagamento">
        <article class="menu-lateral__nav-link">
          <img src="./images/conta/carteira.png" alt="Carteira">
          <p class="menu-lateral__texto">Formas de pagamento</p>
        </article>
      </a>

      <a href="/pedidos">
        <article class="menu-lateral__nav-link">
          <img src="./images/conta/pedidos.png" alt="Prancheta de pedidos">
          <p class="menu-lateral__texto">Pedidos</p>
        </article>
      </a>
    </section>

    <section class="cartao">
      <article class="cartao__article cartao__article--com-borda">
        <h1 class="cartao__titulo">Formas de pagamento</h1>
        <p class="cartao__texto">Gerencie suas formas de pagamento.</p>
      </article>
      
      <h2 class="cartao__titulo">Carteira</h2>
      
      <form action="">
        <article class="cartao__article cartao__article--com-borda">

          <div class="cartao__caixa">
            <div class="cartao__faixa-superior">
              <img class="cartao__bandeira" src="./images/metodosPagementos/bandeiraCartao1.svg" alt="Mastercard">
              <p class="cartao__texto">Nubank Mastercard Platinum terminado em XXXX</p>
            </div>

            <div class="cartao__corpo-info">
              <div>
                <p class="cartao__texto cartao__texto--preto">Expira em 03/2022</p>
                <p class="cartao__texto cartao__texto--preto cartao__texto--negrito">Nome no cartão:</p>
                <p class="cartao__texto cartao__texto--preto">Lorem Ipsum Dolor</p>
              </div>

              <div>
                <p class="cartao__texto cartao__texto--preto cartao__texto--negrito cartao__endereco">Endereço de Cobrança:</p>
                <p class="cartao__texto cartao__texto--preto">Rua Lorem Ipsum, XXXX</p>
                <p class="cartao__texto cartao__texto--preto">Ap. XXX-A</p>
                <p class="cartao__texto cartao__texto--preto">Jardim Dolor Sit Amet, São Paulo, Brasil</p>
                <p class="cartao__texto cartao__texto--preto">CEP: XXXXX-XXX</p>
                <p class="cartao__texto cartao__texto--preto">Tel: (XX) XXXXX-XXXX</p>
              </div>
            </div>  

            <div class="cartao__caixa__botoes">
              <button class="cartao__caixa__botao" type="submit">Remover</button>
              <button class="cartao__caixa__botao" type="submit">Editar</button>
            </div>
          </div>

          <div class="cartao__caixa">
            <div class="cartao__faixa-superior">
              <img class="cartao__bandeira" src="./images/metodosPagementos/bandeiraCartao2.svg" alt="Visa">
              <p class="cartao__texto">Visa Platinum terminado em XXXX</p>
            </div>

            <div class="cartao__corpo-info">
              <div>
                <p class="cartao__texto cartao__texto--preto">Expira em 03/2022</p>
                <p class="cartao__texto cartao__texto--preto cartao__texto--negrito">Nome no cartão:</p>
                <p class="cartao__texto cartao__texto--preto">Lorem Ipsum Dolor</p>
              </div>

              <div>
                <p class="cartao__texto cartao__texto--preto cartao__texto--negrito cartao__endereco">Endereço de Cobrança:</p>
                <p class="cartao__texto cartao__texto--preto">Rua Lorem Ipsum, XXXX</p>
                <p class="cartao__texto cartao__texto--preto">Ap. XXX-A</p>
                <p class="cartao__texto cartao__texto--preto">Jardim Dolor Sit Amet, São Paulo, Brasil</p>
                <p class="cartao__texto cartao__texto--preto">CEP: XXXXX-XXX</p>
                <p class="cartao__texto cartao__texto--preto">Tel: (XX) XXXXX-XXXX</p>
              </div>
            </div>

            <div class="cartao__caixa__botoes">
              <button class="cartao__caixa__botao" type="submit">Remover</button>
              <button class="cartao__caixa__botao" type="submit">Editar</button>
            </div>
          </div>
        </article>
        
        <h2 class="cartao__titulo cartao__titulo--centralizado">Adicione uma nova forma de pagamento</h2>
        
        <div class="cartao__div-botoes">
          <button class="cartao__botao" type="submit">Cartão de crédito</button>
          <button class="cartao__botao" type="reset">Cartão de débito</button>
        </div>
      </form>

    </section>
  </main>

  <%- include("./partials/footer") %>
  
</body>
</html>