<!DOCTYPE html>

<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Acompanhamento de Pedidos</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Russo+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./stylesheets/pedidos.css" />
  </head>

  <body>
    <%- include("./partials/header") %>

    <main class="container">
      <section class="menu-lateral">
        <a href="/conta"><article class="menu-lateral__nav-link">
          <img src="./images/conta/man.png" alt="Usuário">
          <p class="menu-lateral__texto">Geral</p>
        </article></a>
  
        <a href="/seguranca"><article class="menu-lateral__nav-link">
          <img src="./images/conta/key.png" alt="Chave">
          <p class="menu-lateral__texto">Senha e Segurança</p>
        </article>
  
        <a href="/transacoes"><article class="menu-lateral__nav-link">
          <img src="./images/conta/money.png" alt="Sinal monetário">
          <p class="menu-lateral__texto">Transações</p>
        </article></a>
  
        <a href="/metodosPagamento"><article class="menu-lateral__nav-link">
          <img src="./images/conta/carteira.png" alt="Carteira">
          <p class="menu-lateral__texto">Formas de pagamento</p>
        </article></a>
  
        <a href="/pedidos"><article class="menu-lateral__nav-link">
          <img src="./images/conta/pedidos.png" alt="Prancheta de pedidos">
          <p class="menu-lateral__texto">Pedidos</p>
        </article></a>
  
  
      </section>
      <section class="pedidos">
        <h1>Pedidos</h1>
        <hr />
        <div class="pedidos__busca">
          <form action="">
            <input type="search" placeholder="Busque seu pedido aqui" />
            <button type="submit">BUSCAR</button>
          </form>
        </div>
        <section class="pedidos__box">
          <section class="pedidos__box__item">
            <div class="pedidos__status">
              <div class="pedidos__status__header">
                <a href="#"><img src="./images/pagamento/ícones/seta.svg" alt="" /></a>
                <a href="#">status do pedido</a>
              </div>

              <div class="pedidos__status__header">pedido entregue em dd/mm</div>
            </div>

            <div class="pedidos__item">
              <img src="./images/pagamento/jogos/rdr2.svg" alt="" />
              <div>
                <div class="pedidos__item__nome">Red Dead Redemption 2</div>
                <div class="pedidos__item__nome">R$ 149,99</div>
              </div>
            </div>
            <div class="pedidos__opcoes">
              <div class="pedidos__opcoes_item">
                <a href="#"
                  ><img src="./images/pagamento/ícones/solicitar-troca.svg" alt=""
                /></a>
                <a href="#">Solicitar troca</a>
              </div>

              <div class="pedidos__opcoes_item">
                <a href="#"
                  ><img src="./images/pagamento/ícones/cancelar.svg" alt=""
                /></a>
                <a href="#">Cancelar compra</a>
              </div>
              <div class="pedidos__opcoes_item">
                <a href="#"
                  ><img src="./images/pagamento/ícones/avaliar-jogo.svg" alt=""
                /></a>
                <a href="#">Avaliar jogo</a>
              </div>
              <div class="pedidos__opcoes_item">
                <a href="#"
                  ><img src="./images/pagamento/ícones/rastrear-produto.svg" alt=""
                /></a>
                <a href="#">Rastrear produto</a>
              </div>
              <div class="pedidos__opcoes_item">
                <a href="#">Ver Histórico Completo</a>
                <a href="#"><img src="./images/pagamento/ícones/seta.svg" alt="" /></a>
              </div>
            </div>
            <hr />
          </section>

          <section class="pedidos__box__item">
            <div class="pedidos__status">
              <div class="pedidos__status__header">
                <a href="#"><img src="./images/pagamento/ícones/seta.svg" alt="" /></a>
                <a href="#">status do pedido</a>
              </div class="pedidos__status__header">

              <div class="pedidos__status__header">pedido entregue em dd/mm</div>
            </div>

            <div class="pedidos__item">
              <img src="./images/pagamento/jogos/thewitcher.svg" alt="" />
              <div>
                <div class="pedidos__item__nome">The Witcher 3</div>
                <div class="pedidos__item__nome">R$ 149,99</div>
              </div>
            </div>
            <div class="pedidos__opcoes">
              <div class="pedidos__opcoes_item">
                <a href="#"
                  ><img src="./images/pagamento/ícones/solicitar-troca.svg" alt=""
                /></a>
                <a href="#">Solicitar troca</a>
              </div>

              <div class="pedidos__opcoes_item">
                <a href="#"
                  ><img src="./images/pagamento/ícones/cancelar.svg" alt=""
                /></a>
                <a href="#">Cancelar compra</a>
              </div>
              <div class="pedidos__opcoes_item">
                <a href="#"
                  ><img src="./images/pagamento/ícones/avaliar-jogo.svg" alt=""
                /></a>
                <a href="#">Avaliar jogo</a>
              </div>
              <div class="pedidos__opcoes_item">
                <a href="#"
                  ><img src="./images/pagamento/ícones/rastrear-produto.svg" alt=""
                /></a>
                <a href="#">Rastrear produto</a>
              </div>
              <div class="pedidos__opcoes_item">
                <a href="#">Ver Histórico Completo</a>
                <a href="#"><img src="./images/pagamento/ícones/seta.svg" alt="" /></a>
              </div>
            </div>
            <hr />
          </section>
          <section class="pedidos__box__item">
            <div class="pedidos__status">
              <div class="pedidos__status__header">
                <a href="#"><img src="./images/pagamento/ícones/seta.svg" alt="" /></a>
                <a href="#">status do pedido</a>
              </div>

              <div class="pedidos__status__header">pedido entregue em dd/mm</div>
            </div>

            <div class="pedidos__item">
              <img src="./images/pagamento/jogos/rdr2.svg" alt="" />
              <div>
                <div class="pedidos__item__nome">Red Dead Redemption 2</div>
                <div class="pedidos__item__nome">R$ 149,99</div>
              </div>
            </div>
            <div class="pedidos__opcoes">
              <div class="pedidos__opcoes_item">
                <a href="#"
                  ><img src="./images/pagamento/ícones/solicitar-troca.svg" alt=""
                /></a>
                <a href="#">Solicitar troca</a>
              </div>

              <div class="pedidos__opcoes_item">
                <a href="#"
                  ><img src="./images/pagamento/ícones/cancelar.svg" alt=""
                /></a>
                <a href="#">Cancelar compra</a>
              </div>
              <div class="pedidos__opcoes_item">
                <a href="#"
                  ><img src="./images/pagamento/ícones/avaliar-jogo.svg" alt=""
                /></a>
                <a href="#">Avaliar jogo</a>
              </div>
              <div class="pedidos__opcoes_item">
                <a href="#"
                  ><img src="./images/pagamento/ícones/rastrear-produto.svg" alt=""
                /></a>
                <a href="#">Rastrear produto</a>
              </div>
              <div class="pedidos__opcoes_item">
                <a href="#">Ver Histórico Completo</a>
                <a href="#"><img src="./images/pagamento/ícones/seta.svg" alt="" /></a>
              </div>
            </div>
            <hr />
          </section>
          <section class="pedidos__box__item">
            <div class="pedidos__status">
              <div class="pedidos__status__header">
                <a href="#"><img src="./images/pagamento/ícones/seta.svg" alt="" /></a>
                <a href="#">status do pedido</a>
              </div>

              <div class="pedidos__status__header">pedido entregue em dd/mm</div>
            </div>

            <div class="pedidos__item">
              <img src="./images/pagamento/jogos/thewitcher.svg" alt="" />
              <div>
                <div class="pedidos__item__nome">The Witcher 3</div>
                <div class="pedidos__item__nome">R$ 149,99</div>
              </div>
            </div>
            <div class="pedidos__opcoes">
              <div class="pedidos__opcoes_item">
                <a href="#"
                  ><img src="./images/pagamento/ícones/solicitar-troca.svg" alt=""
                /></a>
                <a href="#">Solicitar troca</a>
              </div>

              <div class="pedidos__opcoes_item">
                <a href="#"
                  ><img src="./images/pagamento/ícones/cancelar.svg" alt=""
                /></a>
                <a href="#">Cancelar compra</a>
              </div>
              <div class="pedidos__opcoes_item">
                <a href="#"
                  ><img src="./images/pagamento/ícones/avaliar-jogo.svg" alt=""
                /></a>
                <a href="#">Avaliar jogo</a>
              </div>
              <div class="pedidos__opcoes_item">
                <a href="#"
                  ><img src="./images/pagamento/ícones/rastrear-produto.svg" alt=""
                /></a>
                <a href="#">Rastrear produto</a>
              </div>
              <div class="pedidos__opcoes_item">
                <a href="#">Ver Histórico Completo</a>
                <a href="#"><img src="./images/pagamento/ícones/seta.svg" alt="" /></a>
              </div>
            </div>
            <hr />
          </section>
        </section>
      </section>
    </main>

    <%- include("./partials/footer") %>

  </body>
</html>
