<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./stylesheets/reset.css">
  <link rel="stylesheet" href="./stylesheets/seguranca.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
  <link
  href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap"
  rel="stylesheet"/>
  <title>Conta - Segurança</title>
</head>

<body class="body">
  <header class="header">
    <button class="menu-mobile">
      <img
        class="menu-mobile__imagem"
        src="./images/menu.svg"
        alt="Menu mobile"
      />
    </button>
    <img
      class="logo--mobile"
      src="./images/logo-horizontal.svg"
      alt="Logo do website"
    />
    <div class="pesquisa-e-compras">
      <img class="pesquisa" src="./images/icone-lupa.svg" alt="Pesquisar" />
      <img
        class="carrinho-de-compras"
        src="./images/icone-compras.svg"
        alt="Carrinho de compras"
      />
    </div>
  </header>

  <header class="header__medium-devices">
    <a class="menu__desktop" href="#">
      <img
        class="logo__desktop"
        src="./images/menu-desktop/logoEleita.PNG"
        alt="logotipo desktop"
        width="110px"
        height="65px"
      />
    </a>
    <ul class="menu__pages">
      <li class="menu__page">
        <a class="menu__page-link" href="./index.html">home</a>
      </li>
      <li class="menu__page">
        <a class="menu__page-link" href="./biblioteca.html">biblioteca</a>
      </li>
      <li class="menu__page">
        <a class="menu__page-link" href="./foruns.html">fórum</a>
      </li>
      <li class="menu__page">
        <a class="menu__page-link" href="./categorias.html">categorias</a>
      </li>
      <li class="menu__page">
        <a class="menu__page-link" href="./suporte.html">suporte</a>
      </li>
    </ul>
    <form class="menu__searchbar">
      <input
        class="menu__searchbar-input"
        type="text"
        id="searchbar"
        name="searchbar"
        placeholder="Buscar"
      />
    </form>
    <div class="menu__loupe">
      <img
        class="menu__loupe-img"
        src="./images/menuOculto/loupe.svg"
        onclick=""
      />
    </div>
    <div class="menu__shopping">
      <a href="./carrinho.html" style="text-decoration: none;"><img
        class="shopping-cart"
        src="./images/menu-desktop/carrinho.svg"
        alt="carrinho de compras"
        width="22px"
        height="22px"
      /></a>
    </div>
    <div class="menu__user">
      <a class="user" href="./login.html">
        <img
          class="user-login"
          src="./images/menu-desktop/user.svg"
          alt="login do usuário"
          width="60px"
          height="60px"
      /></a>
    </div>
  </header>

  <main class="main">
    <section class="menu-lateral">
      <a href="/conta">
        <article class="menu-lateral__nav-link">
          <img src="./images/conta/man.png" alt="Usuário">
          <p class="menu-lateral__texto">Geral</p>
        </article>
      </a>

      <a href="/seguranca">
        <article class="menu-lateral__nav-link">
          <img src="./images/conta/key.png" alt="Chave">
          <p class="menu-lateral__texto">Senha e Segurança</p>
        </article>
      </a>

      <a href="./transacoes.html">
        <article class="menu-lateral__nav-link">
          <img src="./images/conta/money.png" alt="Sinal monetário">
          <p class="menu-lateral__texto">Transações</p>
        </article>
      </a>

      <a href="./metodosPagamento.html">
        <article class="menu-lateral__nav-link">
          <img src="./images/conta/carteira.png" alt="Carteira">
          <p class="menu-lateral__texto">Formas de pagamento</p>
        </article>
      </a>

      <a href="./pedidos.html">
        <article class="menu-lateral__nav-link">
          <img src="./images/conta/pedidos.png" alt="Prancheta de pedidos">
          <p class="menu-lateral__texto">Pedidos</p>
        </article>
      </a>
    </section>

    <div class="main__config">
      <section class="config">
        <article class="config__article config__article--com-borda">
          <h1 class="config__titulo config__h1">Alterar Senha</h1>
          <p class="config__texto">Para sua segurança, recomendamos enfaticamente que escolha uma senha única, que não seja usada em qualquer outra conta on-line</p>
        </article>
  
        <form action="">

          <div class="senha__div">
            <article class="config__article config__article--com-borda config__article--senha">
              <h2 class="config__titulo">Senha</h2>
        
              <div class="config__caixa-info">
                <div class="config__informacao">
                  <label class="config__texto config__texto--menor" for="senhaAtual">Senha atual:</label>
                  <input class="config__input" type="password" name="senhaAtual" id="password" value="SenhaAtual123">
                </div>
              </div>
              
              <div class="config__caixa-info">
                <div class="config__informacao">
                  <label class="config__texto config__texto--menor" for="novaSenha">Nova senha:</label>
                  <input class="config__input" type="password" name="novaSenha" id="novaSenha" value="NovaSenha123">
                </div>
              </div>
      
              <div class="config__caixa-info">
                <div class="config__informacao">
                  <label class="config__texto config__texto--menor" for="confirmarNovaSenha">Confirme sua nova senha:</label>
                  <input class="config__input" type="password" name="confirmarNovaSenha" id="confirmarNovaSenha" value="NovaSenha123">
                </div>
              </div>
            </article>
            
            <article class="config__article config__article--requisitos">
              <h2 class="config__titulo config__titulo--centralizado">Requisitos</h2>
              <p class="config__texto config__texto--centralizado">Sua senha precisa ter mais de 7 caracteres.</p>
              <p class="config__texto config__texto--centralizado">Sua senha precisa pelo menos 1 número.</p>
              <p class="config__texto config__texto--centralizado">Sua senha não pode conter espaços.</p>
            </article>
          </div>
            
    
          <div class="config__div-botoes">
            <button class="config__botao" type="submit">Salvar mudanças</button>
            <button class="config__botao" type="reset">Descartar mudanças</button>
          </div>
        </form>
  
      </section>
  
      <section class="config config--finalizar-sessao">
        <h2 class="config__titulo config__titulo--finalizar-sessao">Finalizar sessões</h2>
        <p class="config__texto">Finalize sessões em qualquer outro local em que a sua conta esteja sendo usada, incluindo todos os outros navegadores, telefones, consoles ou qualquer outro dispositivo.</p>
        <button class="config__botao config__botao--finalizar-sessao" type="submit">Finalizar outras sessões</button>
      </section>
    </div>
  </main>

  <footer class="footer">
    <section class="media-social">
      <h2 class="media-social__titulo">Já segue a gente nas redes?</h2>

      <article class="media-social__links">
        <a class="media-social__a" href="https://www.facebook.com/">
          <img src="./images/facebook-icon.svg" alt="Facebook" />
        </a>

        <a class="media-social__a" href="https://www.instagram.com/">
          <img src="./images/instagram-icon.svg" alt="Instagram" />
        </a>

        <a class="media-social__a" href="https://twitter.com/">
          <img src="./images/twitter-icon.svg" alt="Twitter" />
        </a>
      </article>
    </section>

    <section class="termos-e-politicas">
      <p class="termos-e-politicas__p">Termos de Serviço</p>
      <p class="termos-e-politicas__p">Política de Privacidade</p>
      <p class="termos-e-politicas__p">Política de Reembolso da Loja</p>
    </section>
  </footer>

  <footer class="footer__desktop">
    <section class="superior__infos">
      <div class="logo">
        <img
          class="footer__logo"
          src="./images/menu-desktop/logoEleita.PNG"
          width="150px"
          height="100px"
        />
      </div>

      <div class="div__links">
        <div class="links">
          <h5 class="tittle__links">Lorem ipsum dolor</h5>
          <ul class="footer__links">
            <li class="footer__link">
              <a class="footer__page-link" href="#">quos animi ipsam</a>
            </li>
            <li class="footer__link">
              <a class="footer__page-link" href="#">quos animi ipsam</a>
            </li>
            <li class="footer__link">
              <a class="footer__page-link" href="#">quos animi ipsam</a>
            </li>
            <li class="footer__link">
              <a class="footer__page-link" href="#">quos animi ipsam</a>
            </li>
          </ul>
        </div>

        <div class="links">
          <h5 class="tittle__links">Lorem ipsum dolor</h5>
          <ul class="footer__links">
            <li class="footer__link">
              <a class="footer__page-link" href="#">quos animi ipsam</a>
            </li>
            <li class="footer__link">
              <a class="footer__page-link" href="#">quos animi ipsam</a>
            </li>
            <li class="footer__link">
              <a class="footer__page-link" href="#">quos animi ipsam</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="social-media">
        <h4 class="social-media__title">Já segue a gente nas redes?</h4>

        <article class="social-media__links">
          <a class="socialmedia__a" href="https://www.facebook.com/">
            <img
              class="socialmedia__img"
              src="./images/facebook-icon.svg"
              alt="Facebook"
            />
          </a>

          <a class="socialmedia__a" href="https://www.instagram.com/">
            <img
              class="socialmedia__img"
              src="./images/instagram-icon.svg"
              alt="Instagram"
            />
          </a>

          <a class="socialmedia__a" href="https://twitter.com/">
            <img
              class="socialmedia__img"
              src="./images/twitter-icon.svg"
              alt="Twitter"
            />
          </a>
        </article>
      </div>
    </section>

    <section class="terms">
      <div class="terms-and-policies">
        <a class="terms-and-policies__link" href="#"
          ><p class="terms-and-policies__p">Termos de Serviço</p></a
        >
        <a class="terms-and-policies__link" href="#"
          ><p class="terms-and-policies__p">Política de Privacidade</p></a
        >
        <a class="terms-and-policies__link" href="#"
          ><p class="terms-and-policies__p">
            Política de Reembolso da Loja
          </p></a
        >
      </div>
    </section>
  </footer>
  
</body>
</html>