<!DOCTYPE html>

<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./stylesheets/reset.css">
  <link rel="stylesheet" href="./stylesheets/transacoes.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
  <link
  href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap"
  rel="stylesheet"/>
  <title>Histórico de Compras</title>
</head>

<body class="body">
  <%- include("./partials/header") %>

  <main class="main">
    <section class="menu-lateral">
      <a href="/conta">
        <article class="menu-lateral__nav-link">
          <img src="./images/conta/man.png" alt="Usuário">
          <p class="menu-lateral__texto">Geral</p>
        </article>
      </a>

      <a href="/seguranca">
        <article class="menu-lateral__nav-link">
          <img src="./images/conta/key.png" alt="Chave">
          <p class="menu-lateral__texto">Senha e Segurança</p>
        </article>
      </a>

      <a href="/transacoes">
        <article class="menu-lateral__nav-link">
          <img src="./images/conta/money.png" alt="Sinal monetário">
          <p class="menu-lateral__texto">Transações</p>
        </article>
      </a>

      <a href="/metodosPagamento">
        <article class="menu-lateral__nav-link">
          <img src="./images/conta/carteira.png" alt="Carteira">
          <p class="menu-lateral__texto">Formas de pagamento</p>
        </article>
      </a>

      <a href="/pedidos">
        <article class="menu-lateral__nav-link">
          <img src="./images/conta/pedidos.png" alt="Prancheta de pedidos">
          <p class="menu-lateral__texto">Pedidos</p>
        </article>
      </a>
    </section>

    <section class="historico">
      <article class="historico__article historico__article--com-borda">
        <h1 class="historico__titulo">Histórico de Compras</h1>
      </article>

      <article class="historico__article">
        <div class="historico__colunas">
          <h2 class="historico__titulo historico__titulo--colunas">Descrição</h2>
          <h2 class="historico__titulo historico__titulo--colunas historico__titulo--preco">Preço</h2>
          <h2 class="historico__titulo historico__titulo--colunas historico__titulo--status">Status</h2>
        </div>

        <div class="historico__data">
          <p class="historico__texto historico__texto--data">20/05/2021</p>
        </div>
        <div class="historico__informacoes">
          <p class="historico__texto">NBA2K21</p>
          <p class="historico__texto historico__preco">R$ 100,00</p>
          <p class="historico__texto historico__status">Comprado</p>
        </div>

        <div class="historico__data">
          <p class="historico__texto historico__texto--data">20/05/2021</p>
        </div>
        <div class="historico__informacoes">
          <p class="historico__texto">RollerCoaster Tycoon® 3: Complete Edition</p>
          <p class="historico__texto historico__preco">R$ 100,00</p>
          <p class="historico__texto historico__status">Comprado</p>
        </div>

        <div class="historico__data">
          <p class="historico__texto historico__texto--data">20/05/2021</p>
        </div>
        <div class="historico__informacoes">
          <p class="historico__texto">Amnesia: A Machine for Pigs</p>
          <p class="historico__texto historico__preco">R$ 100,00</p>
          <p class="historico__texto historico__status">Comprado</p>
        </div>

        <div class="historico__data">
          <p class="historico__texto historico__texto--data">20/05/2021</p>
        </div>
        <div class="historico__informacoes">
          <p class="historico__texto">Football Manager 2020</p>
          <p class="historico__texto historico__preco">R$ 100,00</p>
          <p class="historico__texto historico__status">Comprado</p>
        </div>

        <div class="historico__data">
          <p class="historico__texto historico__texto--data">20/05/2021</p>
        </div>
        <div class="historico__informacoes">
          <p class="historico__texto">Path of Exile</p>
          <p class="historico__texto historico__preco">R$ 100,00</p>
          <p class="historico__texto historico__status">Comprado</p>
        </div>
        

      </article>
    </section>
  </main>

  <%- include("./partials/footer") %>
  
</body>
</html>