* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0 auto;
  background-color: #2A2D40;
}

.container {
  margin: 0 auto;
  width: 100%;
}

/* MAIN */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}


.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  width: 100%;
  max-width: 800px;
  background-color: #1b1d2a;
  padding-bottom: 40px;
  border-radius: 6px;
  margin: 60px 20px;
}

.register__div {
  display: flex;
  padding: 0 30px;
  width: 100%;
}

.register__form-user {
  flex: 1;
}

.register__tittle-text {
  color: #fff;
  font-family: "Russo One", sans-serif;
  font-size: xx-large;
  text-transform: uppercase;
  text-align: center;
  line-height: 30px;
  padding: 20px;
  font-weight: lighter;
  margin-bottom: 30px;
}

label {
  color: #fff;
  font-size: 12px;
  line-height: 25px;
}

input {
  padding: 5px 15px;
  line-height: 25px;
}

.register__disponibility {
  color: lightslategray;
  font-size: 12px;
}


.register__user,
.register__password,
.register__email {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px 0;
}

.register__password {
  padding-bottom: 10px;
  padding-top: 3px;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
}

.register__submit-btn {
  padding: 15px;
  border-radius: 6px;
  border: none;
  line-height: normal;
  background-color: #5470C4;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
}

.register__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

/* FOOTER */

.footer {
  background-color: #000;
  padding: 30px 15px 0px;
}

.media-social {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  border-bottom: solid 1px #fff;
  margin-bottom: 10px;
}

.media-social__titulo {
  text-align: center;
  color: #fff;
  font-size: 28px;
  margin-bottom: 20px;
}

.media-social__links {
  display: flex;
  justify-content: space-evenly;
}

.termos-e-politicas {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.termos-e-politicas__p {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

/* FOOTER DESKTOP */

.footer__desktop {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.superior__infos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  max-height: 400px;
  padding-bottom: 5px;
  background-color: #000;
}

.links {
  display: flex;
  flex-direction: column;
}

.div__links {
  display: flex;
}

.footer__links,
.tittle__links {
  margin: 0 20px;
  padding-left: 0;
}

.footer__page-link {
  text-decoration: none;
  list-style: none;
  color: #fff;
  text-align: left;
  padding-bottom: 15px;
  font-size: 10px;
  font-weight: lighter;
}

.tittle__links,
.terms-and-policies__p {
  color: #fff;
  text-align: left;
  font-weight: lighter;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media__title {
  color: #fff;
  text-align: center;
  margin: 5px;
}

.socialmedia__a,
.terms-and-policies__link {
  text-decoration: none;
}

.socialmedia__img {
  width: 25px;
  height: 25px;
}

.terms-and-policies {
  display: flex;
  font-size: 10px;
  margin: 0 20px;
  gap: 30px;
}

.terms {
  border-top: 0.5px solid #fff;
  width: 100%;
  background-color: #000;
}

/* Very small devices (smarthphones and small
tablets, 767px and down)*/
@media (max-width: 767px) {
  .header__medium-devices {
    display: none;
  }

  .footer__desktop {
    display: none;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .header {
    display: none;
  }

  .container {
    width: 100%;
  }

  .register {
    margin: 60px 50px;
  }

  .footer {
    display: none;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .header {
    display: none;
  }

  .container {
    width: 100%;
  }

  .register {
    margin: 60px 100px;
  }

  .footer {
    display: none;
  }

  .footer__page-link {
    font-size: 11px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .header {
    display: none;
  }

  .header__medium-devices {
    justify-content: space-evenly;
  }

  .container {
    width: 100%;
  }

  .register {
    margin: 60px 200px;
  }

  .footer {
    display: none;
  }

  .footer__page-link {
    font-size: 13px;
  }
}
