* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.body {
  background-color: #2A2D40;
}

/* HEADER DESKTOP */
.header__medium-devices {
  margin-bottom: 40px;
}

/* MAIN */

.main {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}

.config {
  background-color: #1B1D2A;
  padding: 10px;
  border-radius: 12px;
  margin-bottom: 40px;
}

.config__article {
  margin-bottom: 40px;
}

.config__article--com-borda {
  padding-bottom: 10px;
  border-bottom: solid 1px #fff;
  margin-bottom: 40px;
}

.config__titulo {
  color: #fff;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 20px;
}

.config__texto {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  text-align: justify;
  line-height: 23px;
}


.config__caixa-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 600px;

  background-color: #444968;
  
  padding: 10px;
  margin-top: 20px;
  border-radius: 12px;
}

.config__caixa-info--oculta {
  opacity: 0;
  display: none;
}

.config__informacao {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 85%;
}

.config__informacao--reduzida {
  width: auto;
}

.config__texto--menor {
  font-size: 16px;
}

.config__input {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  background-color: #444968;
  padding: 0px;
  border: none;
  margin-top: 5px;
}

.config__input:focus {
 outline: none;
}

.config__input::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.config__caixa-info__botao {
  background-color: #fff;
  border-radius: 12px;
  width: 40px;
  height: 40px;
}

.config__div-botoes {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 70px;
}

.config__botao {
  width: 240px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  background-color: #F27B13;
  padding: 20px 10px;
  border-radius: 3px;
  margin-bottom: 30px;
}

.config--excluir {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.config__titulo--excluir {
  text-transform: uppercase;
}

.config__strong {
  text-transform: uppercase;
}

.config__botao--excluir {
  width: 300px;
  margin-top: 30px;
}

/* FOOTER */

.footer {
  background-color: #000;
  padding: 30px 15px 0px;
}

.media-social {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  border-bottom: solid 1px #fff;
  margin-bottom: 10px;
}

.media-social__titulo {
  text-align: center;
  color: #fff;
  font-size: 26px;
  font-weight: 900;
  margin-bottom: 20px;
}

.media-social__links {
  display: flex;
  justify-content: space-evenly;
}

.termos-e-politicas {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.termos-e-politicas__p {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

/* FOOTER DESKTOP */

.footer__desktop {
  display: none;
}

.superior__infos {
  background-color: #000;
  display: flex;
  max-height: 400px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 5px;
}

.links {
  display: flex;
  flex-direction: column;
}

.div__links {
  display: flex;
}

.footer__links,
.tittle__links {
  margin: 0 20px;
  padding-left: 0;
}

.footer__page-link {
  text-decoration: none;
  list-style: none;
  color: #fff;
  text-align: left;
  padding-bottom: 15px;
  font-size: 10px;
  font-weight: lighter;
}

.tittle__links,
.terms-and-policies__p {
  color: #fff;
  text-align: left;
  font-weight: lighter;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media__title {
  color: #fff;
  text-align: center;
  margin: 5px;
}

.socialmedia__a,
.terms-and-policies__link {
  text-decoration: none;
}

.socialmedia__img {
  width: 25px;
  height: 25px;
}

.terms-and-policies {
  display: flex;
  font-size: 10px;
  margin: 5px 20px 10px 20px;
  gap: 30px;
}

.terms {
  border-top: 0.5px solid #fff;
  width: 100%;
  background-color: #000;
  height: 30px;
}

/* MEDIA QUERIES */

@media (min-width: 769px) {
  .config__nome-e-email {
    display: flex;
  }

  .config__caixa-info {
    flex: 1;
  }

  .config__caixa-info--oculta {
    display: block;
  }

  .config__caixa-info:nth-child(odd) {
    margin-right: 30px;
  }

  .config__nome-e-idioma, .config__endereco {
    display: flex;
    flex-direction: column;
  }

  .config__nome-e-idioma__div {
    display: flex;
  }

  .config__div-botoes {
    flex-direction: row;
    justify-content: center;
  }

  .config__botao--margin {
    margin-right: 30px;
  }

  .header {
    display: none;
  }
  
  .header__medium-devices {
    max-width: 100;
  }
  
  .footer {
    display: none;
  }

  .header__medium-devices {
    display: flex;
  }

  .footer__desktop {
    display: block;
  }
}

@media (min-width: 1000px) {
  .config {
    padding: 15px;
  }
  
  .footer__page-link {
    font-size: 11px;
  }
}

@media (min-width: 1200px) {
  .header__medium-devices {
    justify-content: space-evenly;
  }

  .footer__page-link {
    font-size: 13px;
  }
}