* {
  box-sizing: border-box;
  color: white;
}

body {
  width: 100%;
  margin: 0 auto;
  background-color: #2a2d40;
  font-family: "Roboto", sans-serif;
}

/* HEADER MOBILE*/

.header {
  display: flex;
  align-items: center;
  background-color: #000;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu-mobile {
  padding: 5px 15px;
  background-color: #000;
  cursor: pointer;
  border: #000;
}

.menu-mobile__imagem {
  width: 25px;
}

.pesquisa-e-compras {
  display: flex;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}

.pesquisa {
  margin-right: 20px;
}



/* HEADER DESKTOP */
.header__medium-devices {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000;
  margin-bottom: 0;
  height: 12vh;
  width: 100%;
}

.menu__pages {
  list-style: none;
  display: inline-flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.menu__page-link {
  font-family: "Russo One", sans-serif;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  margin: 0;
  padding: 0;
}

.menu__page-link:hover {
  transition: all 0.8s;
  color: orange;
}

.menu__searchbar-input {
  margin: 0 0 0 10px;
  padding: 0;
  border-radius: 12px;
  text-align: center;
  line-height: 22px;
}

.menu__user {
  padding: 0;
  position: relative;
  top: 8px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
}

h2 {
  text-align: center;
}

.boxErroPagamento {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  max-width: 700px;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
}

.boxErroPagamento__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eb4f4f;
  padding: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.boxErroPagamento__info {
  padding: 10px 20px;
  background-color: #1B1D2A
}

.boxErroPagamento__info li {
  padding: 20px 5px;
}

.boxErroPagamento__revisar {
    display: flex;
    justify-content: center;
}

.boxErroPagamento__revisar img {
  width: 100%;
}

.boxErroPagamento__pgt {
  display: flex;
  justify-content: space-around;
}

.boxErroPagamento__opcao img{
  max-width: 50px;
  width: 100%;
  max-height: 33px;
}

/* FOOTER */

.footer {
  margin-top: 20px;
  background-color: #000;
  padding: 30px 15px 0px;
}

.media-social {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  border-bottom: solid 1px #fff;
  margin-bottom: 10px;
}

.media-social__titulo {
  text-align: center;
  color: #fff;
  font-size: 28px;
  margin-bottom: 20px;
}

.media-social__links {
  display: flex;
  justify-content: space-evenly;
}

.termos-e-politicas {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.termos-e-politicas__p {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

/* FOOTER DESKTOP */
.superior__infos {
  background-color: #000;
  display: flex;
  max-height: 100vh;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 5px;
  margin-top: 20px;
}

.links {
  display: flex;
  flex-direction: column;
}

.div__links {
  display: flex;
}

.footer__links,
.tittle__links {
  margin: 0 20px;
  padding-left: 0;
}

.footer__page-link {
  text-decoration: none;
  list-style: none;
  color: #fff;
  text-align: left;
  padding-bottom: 15px;
  font-size: 10px;
  font-weight: lighter;
}

.tittle__links,
.terms-and-policies__p {
  color: #fff;
  text-align: left;
  font-weight: lighter;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media__title {
  color: #fff;
  text-align: center;
  margin: 5px;
}

.socialmedia__a,
.terms-and-policies__link {
  text-decoration: none;
}

.socialmedia__img {
  width: 25px;
  height: 25px;
}

.terms-and-policies {
  display: flex;
  font-size: 10px;
  margin: 0 20px 10px 20px;
  gap: 30px;
}

.terms {
  border-top: 0.5px solid #fff;
  width: 100%;
  background-color: #000;
}


/* Very small devices (smarthphones and small
tablets, 767px and down)*/
@media (max-width: 767px) {
  .header__medium-devices {
    display: none;
  }

  .boxErroPagamento {
    margin: 15px 15px;
  }


  .footer__desktop {
    display: none;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .header {
    display: none;
  }

  .footer {
    display: none;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .header {
    display: none;
  }

  .footer {
    display: none;
  }
)
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .header {
    display: none;
  }

  .header__medium-devices {
    justify-content: space-evenly;
  }

  .footer {
    display: none;
  }
}