* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* HEADER DESKTOP */
.header__medium-devices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 30px 20px;
  margin-bottom: 0;
  height: 5vh;
  width: 100%;
}

.menu__logo {
  width: 10em;
  margin-right: 50px;
}

.menu__searchbar {
  display: none;
  flex: 1;
  justify-content: start;
  align-items: center;
  
  max-width: 800px;
  
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  margin-right: 40px;
}

.menu__loupe {
  margin-right: 10px;
}

.menu__loupe--img {
  width: 20px;
}

.menu__searchbar__form {
  flex: 1
}

.menu__searchbar-input {
  padding: 0;
  font-size: larger;
  border: none;
  line-height: 22px;
  width: 100%;
}

.menu__searchbar-input:focus {
  outline: none;
}

.menu__login-and-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__buttons {
  display: none;
}

.menu__btn {
  width: 100px;
  font-size: small;
  font-weight: 700;
  margin-right: 10px;
  cursor: pointer;
}

.menu__btn--login, .menu__btn--logout {
  color: whitesmoke;
  background-color: rgba(84, 112, 196, 0);
  padding: 5px;
  border-radius: 20px;
  border-color:whitesmoke;
  border: solid 2px;
}

.menu__btn--cadastro {
  color: black;
  background-color:whitesmoke;
  padding: 7px;
  border-radius: 20px;
  border: none
}

.menu__greetings {
  display: none;
}

.menu__greetings__p {
  color: whitesmoke;
  margin-right: 10px;
}

.menu__user {
  padding: 0;
  position: relative;
  top: 8px;
}

@media (min-width: 550px) {
  .menu__searchbar {
    display: flex;
  }
}


@media (min-width: 900px) {
  .menu__buttons {
    display: block;
  }

  .menu__greetings {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}