* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  width: 100%;
  background-color: #444968;
}

/* HEADER MOBILE*/

.header {
  display: flex;
  align-items: center;
  background-color: #000;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.menu-mobile {
  padding: 5px 15px;
  background-color: #000;
  cursor: pointer;
  border: #000;
}

.menu-mobile__imagem {
  width: 25px;
}

.pesquisa-e-compras {
  display: flex;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}

.pesquisa {
  margin-right: 20px;
}

/* HEADER MOBILE*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  margin-bottom: 0;
  width: 100%;
}

.menu-mobile {
  padding: 5px 15px;
  background-color: #000;
  cursor: pointer;
  border: #000;
}

.menu-mobile__imagem {
  width: 25px;
}

.pesquisa-e-compras {
  display: flex;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}

.pesquisa {
  margin-right: 20px;
}

/* HEADER DESKTOP */
.header__medium-devices {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000;
  margin-bottom: 0;
  height: 12vh;
  width: 100%;
}

.menu__pages {
  list-style: none;
  display: inline-flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.menu__page-link {
  font-family: "Russo One", sans-serif;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  margin: 0;
  padding: 0;
}

.menu__page-link:hover {
  transition: all 0.8s;
  color: orange;
}

.menu__searchbar-input {
  margin: 0 0 0 10px;
  padding: 0;
  border-radius: 12px;
  text-align: center;
  line-height: 22px;
}

.menu__user {
  padding: 0;
  position: relative;
  top: 8px;
}

/* MAIN */

/* first-section */

.first-section {
  background-image: url("../images/homepage/backgrounds/backgroundACdarken.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.first-section__text,
.video__text,
.promos__text {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  line-height: 23px;
  text-transform: uppercase;
  padding-left: 10px;
  padding-bottom: 10px;
  margin: 0;
}

.first-section__div-carousel {
  background-color: rgb(0, 153, 153, 60%);
  margin: 10px 5px 5px 5px;
  border-radius: 6px;
  display: flex;
  /* height: 240px; */
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.first-section__carousel {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  flex-direction: row;
}

.first-section__imglink {
  max-height: 200px;
}

.first-section__item1,
.first-section__item2 {
  list-style: none;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: wrap;
}

.first-section__item3,
.first-section__item4,
.first-section__item5,
.first-section__item6,
.first-section__item7,
.first-section__item8 {
  display: none;
}

/* video section */
.video {
  background-color: #444968;
  display: flex;
  flex-direction: column;
}

.video__div-selectors,
.promos__div-selectors {
  color: gainsboro;
  font-weight: bold;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.video__selectors,
.promo__selectors {
  padding-right: 5px;
  margin: 0;
}

.video__selectors,
.promo__selectors:hover {
  color: #fff;
  transition: all 0.8ms;
}

.video__text {
  padding-top: 70px;
}

.video__div-iframe {
  background-color: #1b1d2a;
  margin: 10px 5px 30px 5px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

iframe {
  max-width: 560px;
  max-height: 315px;
}

.video__scenes {
  background-color: #1b1d2a;
  display: flex;
  margin: 0 5px;
  border-radius: 6px;
  flex-direction: column;
  flex-wrap: wrap;
}

.video__div-photos {
  display: flex;
  justify-content: space-evenly;
  margin: 5px;
}

.video__photos1,
.video__photos2 {
  padding: 5px;
  width: 50%;
}

.video__photos3 {
  display: none;
}

.video__text-prices {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 20px;
  align-items: center;
}

.video__text-popular {
  background: linear-gradient(
    156deg,
    rgba(252, 207, 49, 1) 0%,
    rgba(245, 85, 85, 1) 100%
  );
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  margin: 10px 100px;
  padding: 5px 6px;
  border-radius: 6px;
  text-decoration: none;
}

.video__popularlink {
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video__text-avaiable,
.video__text-price,
.video__pricelink {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 23px;
  color: #fff;
  width: 50%;
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
}

.video__texts {
  padding-bottom: 10px;
}

/* promos section */
.promos__div-text {
  padding-top: 70px;
}

.promos__biggest {
  background-color: #1b1d2a;
  margin: 0 5px 60px 5px;
  padding: 10px 10px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.promos__biggest-img {
  width: 100%;
  padding-top: 10px;
}

.promos__texts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.promos__text-oldprice {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  padding: 5px 5px;
}

.promos__text-avaiable {
  background-color: #64b23f;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  padding: 5px 5px;
  border-radius: 6px;
}

.promos__text-price {
  background: linear-gradient(
    156deg,
    rgba(252, 207, 49, 1) 0%,
    rgba(245, 85, 85, 1) 100%
  );
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  padding: 5px 5px;
  border-radius: 6px;
  text-decoration: none;
  color: #000;
}

/* promos carousel */
.promos__div-carousel {
  background-color: #1b1d2a;
  margin: 10px 5px 0 5px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
}

.promos__carousel {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  flex-direction: row;
}

.promos__item {
  list-style: none;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: wrap;
}

.promos__item3,
.promos__item4 {
  display: none;
}

.promos__link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 0;
}

.promos__imglink {
  width: 100%;
}

.promos__text-carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.promos__newprice {
  background: linear-gradient(
    156deg,
    rgba(252, 207, 49, 1) 0%,
    rgba(245, 85, 85, 1) 100%
  );
  text-align: right;
  text-transform: uppercase;
  font-size: 13px;
  padding: 5px 5px;
  border-radius: 6px;
  text-decoration: none;
  color: #000;
}

.promos__oldprice {
  text-align: left;
  text-transform: uppercase;
  font-size: 13px;
  color: #fff;
}

.promos__div-selectors {
  margin-bottom: 30px;
}

/* promos desktop */
.promos__desktop {
  display: none;
}

/* FOOTER */

.footer {
  background-color: #000;
  padding: 30px 15px 0px;
}

.media-social {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  border-bottom: solid 1px #fff;
  margin-bottom: 10px;
}

.media-social__titulo {
  text-align: center;
  color: #fff;
  font-size: 28px;
  margin-bottom: 20px;
}

.media-social__links {
  display: flex;
  justify-content: space-evenly;
}

.termos-e-politicas {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.termos-e-politicas__p {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

/* FOOTER DESKTOP */
.superior__infos {
  background-color: #000;
  display: flex;
  max-height: 100vh;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-end;
  padding-bottom: 5px;
}

.links {
  display: flex;
  flex-direction: column;
}

.div__links {
  display: flex;
}

.footer__links,
.tittle__links {
  margin: 0 20px;
  padding-left: 0;
}

.footer__page-link {
  text-decoration: none;
  list-style: none;
  color: #fff;
  text-align: left;
  padding-bottom: 15px;
  font-size: 10px;
  font-weight: lighter;
}

.tittle__links,
.terms-and-policies__p {
  color: #fff;
  text-align: left;
  font-weight: lighter;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media__title {
  color: #fff;
  text-align: center;
  margin: 5px;
}

.socialmedia__a,
.terms-and-policies__link {
  text-decoration: none;
}

.socialmedia__img {
  width: 25px;
  height: 25px;
}

.terms-and-policies {
  display: flex;
  font-size: 10px;
  margin: 0 20px 10px 20px;
  gap: 30px;
}

.terms {
  border-top: 0.5px solid #fff;
  width: 100%;
  background-color: #000;
}

/* Very small devices (smarthphones and small
tablets, 767px and down)*/
@media (max-width: 767px) {
  .header__medium-devices {
    display: none;
  }

  .footer__desktop {
    display: none;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .header {
    display: none;
  }

  .first-section__item1,
  .first-section__item2,
  .first-section__item3,
  .first-section__item4,
  .first-section__item5 {
    list-style: none;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
  }

  iframe {
    width: 660px;
    height: 415px;
  }

  .video__photos1,
  .video__photos2,
  .video__photos3 {
    padding: 5px;
    width: 33%;
    display: inline-flex;
  }

  .promos__div-text {
    margin: 10px 0;
  }

  .promos__div-biggest {
    background-color: #1b1d2a;
    margin: 10px 80px 40px 80px;
    padding: 10px 10px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .promos__biggest {
    margin-bottom: 10px;
  }

  .promos__item,
  .promos__item3 {
    list-style: none;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
  }

  .footer {
    display: none;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .header {
    display: none;
  }

  .first-section__item1,
  .first-section__item2,
  .first-section__item3,
  .first-section__item4,
  .first-section__item5,
  .first-section__item6 {
    list-style: none;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
  }

  .video__div-iframe {
    margin: 10px 5px 0 5px;
    height: 90vh;
  }

  .video__div-photos {
    display: flex;
    background-color: #1b1d2a;
    margin: 0 5px 0px;
    padding: 10px;
    justify-content: center;
  }

  iframe {
    min-width: 87%;
    min-height: 85%;
  }

  iframe:hover {
    transition: all 0.8s;
    box-shadow: 1px 0px 55px -5px rgba(0, 255, 255, 0.77);
  }

  .iframe__texts {
    padding: 10px 5px;
  }

  .video__photos1,
  .video__photos2,
  .video__photos3 {
    padding: 5px;
    width: 33%;
    display: inline-flex;
  }

  .video__text-price:hover {
    transition: all 0.8s;
    color: rgba(114, 237, 242, 1);
    font-size: 15px;
  }

  .promos {
    display: none;
  }

  .promos__desktop {
    margin: 70px 0 30px;
    display: flex;
    flex-direction: column;
  }

  .desktop__div-text {
    margin: 20px 0;
  }

  .desktop__text {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: left;
    text-transform: uppercase;
    margin: 0 10px;
  }

  .desktop__div-biggest {
    background-color: #1b1d2a;
    margin: 0 5px;
    padding-top: 10px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
  }

  li {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .desktop {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .desktop__texts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .desktop__carousels {
    display: flex;
    flex-direction: column;
  }

  .desktop__imglink {
    max-height: 200px;
    padding: 2px 5px;
  }

  .desktop__item4 {
    display: none;
  }

  .desktop__carousel {
    display: flex;
    align-items: center;
    padding: 0 5px;
    margin: 0;
    width: 50%;
  }

  .desktop__text-carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .desktop__text-oldprice {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px 5px;
  }

  .desktop__text-avaiable {
    background-color: #64b23f;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    padding: 5px 5px;
    border-radius: 6px;
  }

  .desktop__text-price {
    background: linear-gradient(
      156deg,
      rgba(252, 207, 49, 1) 0%,
      rgba(245, 85, 85, 1) 100%
    );
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    padding: 5px 5px;
    border-radius: 6px;
    text-decoration: none;
    color: #000;
  }

  .desktop__newprice {
    background: linear-gradient(
      156deg,
      rgba(252, 207, 49, 1) 0%,
      rgba(245, 85, 85, 1) 100%
    );
    text-align: right;
    text-transform: uppercase;
    font-size: 13px;
    padding: 5px 5px;
    border-radius: 6px;
    text-decoration: none;
    color: #000;
  }

  .desktop__oldprice {
    text-align: left;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    padding-right: 40px;
  }

  .footer {
    display: none;
  }

  .superior__infos {
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 5px;
    align-items: flex-end;
    height: 18vh;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .tittle__links {
    padding-bottom: 5px;
  }

  .footer__page-link {
    text-decoration: none;
    list-style: none;
    color: #fff;
    text-align: left;
    padding-bottom: 5px;
    font-size: 11px;
    font-weight: lighter;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .header {
    display: none;
  }

  .header__medium-devices {
    justify-content: space-evenly;
  }

  .first-section__item1,
  .first-section__item2,
  .first-section__item3,
  .first-section__item4,
  .first-section__item5,
  .first-section__item6,
  .first-section__item7,
  .first-section__item8 {
    list-style: none;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
  }

  .video__div-iframe {
    margin: 10px 5px 0 5px;
    height: 90vh;
  }

  .video__div-photos {
    display: flex;
    background-color: #1b1d2a;
    margin: 0 5px 0px;
    padding: 10px;
    justify-content: center;
  }

  iframe {
    min-width: 87%;
    min-height: 85%;
  }

  iframe:hover {
    transition: all 0.8s;
    box-shadow: 1px 0px 55px -5px rgba(0, 255, 255, 0.77);
  }

  .iframe__texts {
    padding: 10px 5px;
  }

  .video__photos1,
  .video__photos2,
  .video__photos3 {
    padding: 5px;
    display: inline-flex;
    height: 45vh;
    width: 30%;
  }

  .video__text-price:hover {
    transition: all 0.8s;
    color: rgba(114, 237, 242, 1);
    font-size: 15px;
  }

  .video__text-popular {
    padding: 5px 10px;
    font-size: 20px;
  }

  .promos__div-selectors {
    display: none;
  }

  .promos {
    display: none;
  }

  .promos__desktop {
    margin: 70px 0 30px;
    display: flex;
    flex-direction: column;
  }

  .desktop__div-text {
    margin: 20px 0;
  }

  .desktop__text {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: left;
    text-transform: uppercase;
    margin: 0 10px;
  }

  .desktop__div-biggest {
    background-color: #1b1d2a;
    margin: 0 5px;
    padding-top: 10px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
  }

  li {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .desktop {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .desktop__texts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .desktop__carousels {
    display: flex;
    flex-direction: column;
  }

  .desktop__imglink {
    max-height: 200px;
    padding: 2px 5px;
  }

  .desktop__carousel {
    display: flex;
    align-items: center;
    padding: 0 5px;
    margin: 0;
    width: 50%;
  }

  .desktop__item4 {
    display: inline;
  }

  .desktop__text-carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .desktop__text-oldprice {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px 5px;
  }

  .desktop__text-avaiable {
    background-color: #64b23f;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    padding: 5px 5px;
    border-radius: 6px;
  }

  .desktop__text-price {
    background: linear-gradient(
      156deg,
      rgba(252, 207, 49, 1) 0%,
      rgba(245, 85, 85, 1) 100%
    );
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    padding: 5px 5px;
    border-radius: 6px;
    text-decoration: none;
    color: #000;
  }

  .desktop__newprice {
    background: linear-gradient(
      156deg,
      rgba(252, 207, 49, 1) 0%,
      rgba(245, 85, 85, 1) 100%
    );
    text-align: right;
    text-transform: uppercase;
    font-size: 13px;
    padding: 5px 5px;
    border-radius: 6px;
    text-decoration: none;
    color: #000;
  }

  .desktop__oldprice {
    text-align: left;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    padding-right: 40px;
  }

  .footer {
    display: none;
  }

  .superior__infos {
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 5px;
    align-items: flex-end;
    height: 22vh;
    width: 100%;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 50px 0 10px;
  }

  .tittle__links {
    padding-bottom: 5px;
  }

  .footer__page-link {
    text-decoration: none;
    list-style: none;
    color: #fff;
    text-align: left;
    padding-bottom: 5px;
    font-size: 13px;
    font-weight: lighter;
  }
}
