* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
  width: 100%;
  background-color: #444968;
}

body {
  margin: 0;
}

/* HEADER MOBILE */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  margin-bottom: 0;
}

.menu-mobile {
  padding: 5px 15px;
  background-color: #000;
  cursor: pointer;
  border: #000;
}

.menu-mobile__imagem {
  width: 25px;
}

.pesquisa-e-compras {
  display: flex;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}

.pesquisa {
  margin-right: 20px;
}

/* HEADER DESKTOP */
.header__medium-devices {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000;
  margin-bottom: 0;
  height: 12vh;
  width: 100%;
}

.menu__pages {
  list-style: none;
  display: inline-flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.menu__page-link {
  font-family: "Russo One", sans-serif;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  margin: 0;
  padding: 0;
}

.menu__page-link:hover {
  transition: all 0.8s;
  color: orange;
}

.menu__searchbar-input {
  margin: 0 0 0 10px;
  padding: 0;
  border-radius: 12px;
  text-align: center;
  line-height: 22px;
}

.menu__user {
  padding: 0;
  position: relative;
  top: 8px;
}

/* MAIN */
.reset {
  background-color: #1b1d2a;
  margin: 20px 10px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reset__div {
  margin: 5px 10px;
  width: 60%;
}

.reset__tittle-text {
  color: #fff;
  font-family: "Russo One", sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 30px;
  padding: 20px;
  font-weight: lighter;
  margin-bottom: 30px;
}

label,
input {
  color: #fff;
  font-size: 12px;
  line-height: 25px;
}

.reset__pass {
  padding-bottom: 10px;
  padding-top: 3px;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
}

.reset__form-code,
.reset__form-pass,
.reset__submit-btn {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px 0;
}

.reset__submit-btn {
  padding: 5px;
  border-radius: 6px;
  line-height: normal;
  background: linear-gradient(
    156deg,
    rgba(114, 237, 242, 1) 0%,
    rgba(81, 81, 229, 1) 100%
  );
  border-color: #000;
  font-weight: bold;
  font-size: 15px;
}

.reset__submit {
  margin-top: 40px;
}

/* FOOTER */

.footer {
  background-color: #000;
  padding: 30px 15px 0px;
}

.media-social {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  border-bottom: solid 1px #fff;
  margin-bottom: 10px;
}

.media-social__titulo {
  text-align: center;
  color: #fff;
  font-size: 28px;
  margin-bottom: 20px;
}

.media-social__links {
  display: flex;
  justify-content: space-evenly;
}

.termos-e-politicas {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.termos-e-politicas__p {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

/* FOOTER DESKTOP */
.superior__infos {
  background-color: #000;
  display: flex;
  max-height: 100vh;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 5px;
}

.links {
  display: flex;
  flex-direction: column;
}

.div__links {
  display: flex;
}

.footer__links,
.tittle__links {
  margin: 0 20px;
  padding-left: 0;
}

.footer__page-link {
  text-decoration: none;
  list-style: none;
  color: #fff;
  text-align: left;
  padding-bottom: 15px;
  font-size: 10px;
  font-weight: lighter;
}

.tittle__links,
.terms-and-policies__p {
  color: #fff;
  text-align: left;
  font-weight: lighter;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media__title {
  color: #fff;
  text-align: center;
  margin: 5px;
}

.socialmedia__a,
.terms-and-policies__link {
  text-decoration: none;
}

.socialmedia__img {
  width: 25px;
  height: 25px;
}

.terms-and-policies {
  display: flex;
  font-size: 10px;
  margin: 0 20px 10px 20px;
  gap: 30px;
}

.terms {
  border-top: 0.5px solid #fff;
  width: 100%;
  background-color: #000;
}

/* Very small devices (smarthphones and small
tablets, 767px and down)*/
@media (max-width: 767px) {
  .header__medium-devices {
    display: none;
  }

  .footer__desktop {
    display: none;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .header {
    display: none;
  }

  .container {
    width: 100%;
  }

  .reset {
    margin: 20px 50px;
  }

  .footer {
    display: none;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .header {
    display: none;
  }

  .container {
    width: 100%;
  }

  .reset {
    margin: 20px 100px;
  }

  .footer {
    display: none;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .header {
    display: none;
  }

  .header__medium-devices {
    justify-content: space-evenly;
  }

  .container {
    width: 100%;
  }

  .reset {
    margin: 20px 200px;
  }

  .footer {
    display: none;
  }
}
